/**
* @partial: _contact-form7.scss
*/

// == Contact 7 Form

.form-action-group {
	position: relative;

	@include media(">sm") {
		display: inline-flex;
		vertical-align: middle;

		.btn {
			min-width: pxToRem(305, 18);
		}
	}

	.btn {
		width: calc(100% - 60px);
	}
}

.form-container div.wpcf7 .ajax-loader {
	position: absolute;
	top: 50%;
	right: 0;
	background: url(#{$img_path}ajax-loader.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border: 0;
	height: pxToRem(65, 18);
	width: pxToRem(65, 18);
	transform: translateX(0%) translateY(-50%);

	@include media(">sm") {
		top: 50%;
		right: pxToRem(-70, 18);
	}
}

div.wpcf7 div.wpcf7-response-output {
	margin: 1.25rem 0 0.75rem;
	padding: 15px 15px;
}

div.wpcf7 div.wpcf7-mail-sent-ng {
	border-color: darken($brand-primary, 15%);
	color: darken($brand-primary, 15%);
}

div.wpcf7 div.wpcf7-mail-sent-ok {
	border-color: $brand-black;
	color: $brand-black;
}

div.wpcf7 .subscribe-form div.wpcf7-mail-sent-ok {
	border-color: $brand-white;
}

div.wpcf7 div.wpcf7-validation-errors,
.form-control.error {
	border-color: $brand-danger;
	color: $brand-danger;
}

div.wpcf7 span.wpcf7-not-valid-tip {
	margin: 0.25rem 0 0.75rem;
	color: $brand-danger;
	text-align: left;
}