/**
 * Counter card styles
 */

/*================ Grid with vertical border, counter card module styles ================*/

.grid-v-border-separator {
	margin-right: -20px;
	margin-left: -20px;

	.grid-col-styled {
		position: relative;
		padding-right: 20px;
		padding-left: 20px;
		&:not(:last-of-type) {
			&::before {
				@include make-pseudo-position(absolute, '');
				top: 0;
				right: 0;
				bottom: 0;
				border-right: 1px solid #c3c3c3;
			}
		}
	}
}

.counter-card {
	font-family: $font-family-primary;
	line-height: 1.22;
}

.counter-card__title {
	font-family: $font-family-primary;
}