/**
 * Post entry card
 */

/* ================ Post entry card =================*/

.member-card {
	position: relative;
	overflow: hidden;
	box-shadow: $entry_card_box_shadow !important;
	@include transition(all $transition_delay_default ceaser($easeInOutSine));

	@include media(">sm") {
		font-size: 16px;
		box-shadow: none !important;
	}

	@include media(">=ls") {
		font-size: pxToRem(20, 18);
	}

	&.is-shadowed {
		box-shadow: $entry_card_box_shadow !important;
	}

	&:hover {
		box-shadow: $entry_card_box_shadow !important;
	}
}

// == Entry card titles

.member-card__subtitle {
	margin-bottom: pxToRem(8, 18);
	text-transform: unset;
}

.member-card__body {
	padding: pxToRem(25, 14) pxToRem(25, 14) pxToRem(25, 14);

	@include media(">sm") {
		padding: pxToRem(25, 14) pxToRem(20, 14) pxToRem(80, 14);
	}

	@include media(">=ipad") {
		padding: pxToRem(30, 16) pxToRem(30, 16) pxToRem(80, 16);
	}

	@include media(">=ls") {
		padding: pxToRem(30, 18) pxToRem(35, 18) pxToRem(95, 18);
	}
}

.member-card__footer {
	display: flex;
	align-items: center;
	padding: 0 pxToRem(25, 14) pxToRem(25, 14);

	@include media(">sm") {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		padding: pxToRem(25, 14) pxToRem(20, 14) pxToRem(25, 14);
	}

	@include media(">=ipad") {
		padding: 0 pxToRem(25, 16) pxToRem(25, 16);
	}

	@include media(">=ls") {
		padding: 0 pxToRem(35, 18) pxToRem(35, 18);
	}
}