/**
 * Overlay content card
 */

/*================ Overlay card module styles ================*/

.overlay-container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1200px;
	width: 100%;

	@include media(">sm") {
		@include make-full-position(absolute);
		//left: -15px;
		z-index: $zindex-normal;
	}

	@include media(">1170px") {
		left: 0px;
	}
}

.overlay-card {
	position: absolute;
	top: 0;
	left: 0;
	z-index: $zindex-normal;

	&.center {
		top: 50%;
		left: 50%;
		// right: auto;
		transform: translateX(-50%) translateY(-50%);
	}

	&.right {
		right: 0px;
		left: auto;

		.overlay-container & {
			right: 15px;
		}
	}

	&.bottom {
		top: auto;
		bottom: 0;
	}

	&.right-bottom {
		right: 0;
		bottom: 0;
		left: auto;
	}

	&.y-center {
		top: 50%;
		bottom: auto;
		transform: translateY(-50%);
	}

	&.center-bottom {
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}
}

.overlay-card__body {
	position: relative;
	padding: pxToRem(25, 14) pxToRem(15, 14) pxToRem(25, 14);

	@include media(">sm") {
		padding: pxToRem(25, 14) pxToRem(30, 14) pxToRem(30, 14);
	}

	@include media(">=ipad") {
		padding: pxToRem(50, 18) pxToRem(42, 18) pxToRem(55, 18);
	}
}