/**
 * Square card module styles
 */

/*================ Square card module styles ================*/

.square-card {
	position: relative;
	overflow: hidden;
	color: $brand-white;

	@include media(">sm") {
		font-size: 16px;
	}

	@include media(">=ls") {
		font-size: pxToRem(20, 18);
	}

	&::before {
		content: "";
		display: block;
		padding-bottom: 100%;
	}
}

.square-card__body {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: $zindex-normal;
	padding: pxToRem(25, 14) pxToRem(25, 18) pxToRem(28, 18);
	width: 100%;
	transform: translateX(-50%) translateY(-50%);

	@include media(">sm") {
		top: pxToRem(15, 14);
		transform: translateX(-50%);
	}

	@include media(">=ipad") {
		top: pxToRem(40, 16);
		padding: pxToRem(20, 16) pxToRem(35, 16) pxToRem(25, 16);
	}

	@include media(">=ls") {
		top: pxToRem(50, 18);
		padding: pxToRem(25, 18) pxToRem(50, 18) pxToRem(28, 18);
	}

	// == Modifiers
	&.center {
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
	}
}

.square-card__footer {
	position: absolute;
	bottom: 0;
	padding: pxToRem(30, 18) pxToRem(25, 18);
	width: 100%;

	// == Alignment modifiers

	&.right {
		right: 0;
		left: auto;
	}

	// == Size modifiers

	&--lg {
		@include media(">=ipad") {
			padding: pxToRem(20, 16) pxToRem(35, 16) pxToRem(25, 16);
		}

		@include media(">=ls") {
			padding: pxToRem(25, 18) pxToRem(50, 18) pxToRem(28, 18);
		}
	}
}

.square-card__picture {
	@include make-full-position(absolute);
	overflow: hidden;
}

// == Square card with hover actions
.square-card-inner {
	@include make-full-position(absolute);
}

.square-card__hover-content {
	@include make-full-position(absolute);
	opacity: 0;
	pointer-events: none;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 15px 25px;
	background: transparentize($brand-dark, 0.5);
	width: 100%;
	@include transition(all $transition_delay_default ceaser($easeInOutSine));

	&-inner {
		max-width: 250px;
	}
}

// == Logo card
.logo-card__title {
	@include media("<=sm") {
		font-size: pxToRem(18, 14);
	}
}