/*
** @partial: _general.scss
*/

html {
	font-size: 14px;

	@include media(">=ipad") {
		font-size: 16px;
	}

	@include media(">=ls") {
		font-size: 18px;
	}
}

* {
	margin: 0 0;
	padding: 0 0;
	
	&:focus {
		outline: 0;
	}
}

button, input, textarea {
	font-family: $font-family-base;
}

ul, ol {
	margin: 0 0;
	padding: 0 0;
	list-style: none;
}

img {
	vertical-align: top;
	max-width: 100%;
}

a,
button,
input {
	outline: none;
	text-decoration: none;
	box-shadow: none;
	@include transition(all $transition_delay_default ceaser($easeInOutSine));

	&:hover,
	&:focus,
	&:active,
	&:active:focus {
		box-shadow: none;
		outline: none;
		text-decoration: none;
	}
}

a {
	&:hover {
		color: $link-hover-color;
	}

	.isTouchDevice & {
		&:hover,
		&:focus {
			//color: inherit !important;
		}
	}
}

// == Address inside text-muted
.text-muted {
	[href^="tel:"],
	[href^="mailto:"] {
		color: $brand-dark-gray;

		&:hover {
			opacity: 0.65;
		}
	}
}

.isTouchDevice a[class*="btn"] {
	&:hover {
		color: $brand-white;
	}
}

// == HIDE SMOOTHSCROLL'S STRUCTURE TO AVOID WHITESPACE
div[style*="position: absolute; z-index: -10000;"] {
	display: none !important;
}

/* Web page customized selection feature */
@include selection($brand-primary, $brand-white);

// Enable debuggin mode in development environment
// @include debug();