/* Custom audio video */
$ms: 'mejs';

.#{$ms} {
	/* Audio container */
	&-container {
		width: 100% !important;
		max-width: 400px;
		height: 50px !important;
		background: {
			color: $brand-dark;
		}

		* {
			box-sizing: border-box;
		}

		/* Controls */
		.#{$ms}-controls {
			top: 50%;
			height: 100%;
			transform: translateY(-50%);
			background: $brand-dark;
			border-radius: 0;

			&::before,
			&::after {
				content: "";
				overflow: hidden;
				display: table;
				height: 0;
			}

			&::after {
				clear: both;
			}

			> * {
				float: left;
			}

			/* Audio button */
			button {
				top: 50%;
				left: 50%;
				display: inline-block;
				margin: 0 auto;
				width: 20px;
				height: 20px;
				transform: translateX(-50%) translateY(-50%);
			}

			/* Play button */
			.#{$ms}-playpause-button {
				position: relative;
				width: 12.70%;
				height: 100%;
				background: {
					color: $brand-secondary;
				}
				border-radius: 0;

				&.#{$ms}-play {
					button {
						background: {
							image: url(#{$img-path}media-play.svg);
							position: center center;
							repeat: no-repeat;
							size: 100%;
						}
					}
				}

				&.#{$ms}-pause {
					button {
						background: {
							image: url(#{$img-path}media-pause.svg);
							position: center center;
							repeat: no-repeat;
							size: 100%;
						}
					}
				}
			}

			/* Sound button */
			.#{$ms}-volume-button {
				margin-right: 3%;
				height: 100%;

				@include media("<=ipad") {
					display: none;
				}

				&.#{$ms}-mute {
					button {
						background: {
							image: url(#{$img-path}media-unmute.svg);
							position: center center;
							repeat: no-repeat;
							size: 100%;
						}
					}
				}

				&.#{$ms}-unmute {
					button {
						background: {
							image: url(#{$img-path}media-mute.svg);
							position: center center;
							repeat: no-repeat;
							size: 100%;
						}
					}
				}
			}

			/* Time rail */
			.#{$ms}-time-rail {
				position: relative;
				padding: 10px 15px;
				height: 100%;

				@include media(">ipad") {
					width: 58% !important;
				}

				@include media("<=ipad") {
					width: 87.3% !important;
				}
			}

			/* Mute / unmute button */
			.#{$ms}-volume-button {
				
			}

			/* Horizontal slider */
			.#{$ms}-horizontal-volume-slider {
				display: block !important;
				//padding: 1rem 0.875rem;
    			width: 16.5%;
    			height: 100%;

    			@include media("<=ipad") {
					display: none !important;
				}
    		}

    		/* Time total slider */
			.#{$ms}-time-slider {
				top: 50%;
				margin: 0 0;
				width: 100% !important;
				transform: translateY(-50%);

				@include media(">ipad") {
					max-width: 202px;
				}

				@include media("<=ipad") {
					max-width: calc(100% - 30px);
				}

				.#{$ms}-time {
					&-loaded {
	    				width: 100% !important;
    				}

    				&-handle {
    					position: relative;
    					top: 0;
						display: block;
						border: 0;
    				}
    			}
    		}

    		.#{$ms}-horizontal-volume-total {
    			top: 50%;
    			width: 100%;
    			transform: translateY(-50%);
    		}

    		.#{$ms}-horizontal-volume-current {
    			top: 50%;    			
    			transform: translateY(-50%);
    		}

    		.#{$ms}-horizontal-volume-handle {
    			position: absolute;
			    top: 50%;
			    display: block;
    			background: $brand-white;
			    width: 8px;
			    height: 8px;
			    border-radius: 50%;
			    transform: translateY(-50%);
    		}
		}
	}

	/* Duration control */
	&-duration-container,
	&-currenttime-container {
		display: none !important;
	}
}