/*
** @partial: _menu.scss
*/

// == Menu
.menu {
	//@include media(">=ipad") {
	//	margin-right: pxToRem(-16.5, 18);
	//	margin-left: pxToRem(-16.5, 18);
	//}

	@include media("<ds", ">=ls") {
		margin-right: pxToRem(-18, 18);
		margin-left: pxToRem(-18, 18);

		.is-request-quote-shown & {
			margin-right: pxToRem(-10, 18);
			margin-left: pxToRem(-10, 18);
		}
	}

	@include media(">=ds") {
		margin-right: pxToRem(-20, 18);
		margin-left: pxToRem(-20, 18);
	}

	// == Menu item

	&__item {
		line-height: 1;

		@include media("<ds", ">=ls") {
			padding-right: pxToRem(18, 18);
			padding-left: pxToRem(18, 18);

			.is-request-quote-shown & {
				padding-right: pxToRem(10, 18);
				padding-left: pxToRem(10, 18);
			}
		}

		@include media(">=ds") {
			padding-right: pxToRem(20, 18);
			padding-left: pxToRem(20, 18);
		}
	}

	// == Menu link
	&__link {
		display: block;
		padding: 26px 25px;
		border-bottom: 1px solid $brand-gray-light;
		font-size: 16px;
		font-weight: 500;
		line-height: 1;
		text-transform: uppercase;
		white-space: nowrap;

		@include media(">=ls") {
			position: relative;
			padding: pxToRem(31, 18) 0 pxToRem(31, 18) 0;
			border-bottom: 0;
			color: $menu_link_sticky_color;
			font-size: pxToRem(18, 18);
			text-transform: none;

			&::after {
				position: absolute;
				right: 0;
				bottom: pxToRem(-0.5, 18);
				left: 50%;
				opacity: 0;
				z-index: $zindex-normal;
				content: "";
				border-left: pxToRem($chev_size, 18) solid transparent;
				border-right: pxToRem($chev_size, 18) solid transparent;
				border-bottom: pxToRem($chev_size, 18) solid $brand-white;
				width: 0;
				height: 0;
				transform: translateX(-50%) translateY(-$translate_val);
				@include transition(all $transition_delay_default ceaser($easeInOutSine));
			}

			// == With sticky header
			.is-stuck & {
				//padding: pxToRem(24.122, 14) 0 pxToRem(24.122, 14) 0;
				color: $menu_link_sticky_color;
			}

			.home .topnavbar:not(.is-stuck) & {
				padding: pxToRem(44.5, 18) 0 pxToRem(44.5, 18) 0;
				font-size: pxToRem(18, 18);
				color: $brand-white;
			}

			.icon {
				display: none;
			}
		}

		@include media(">=ds") {
			.home .topnavbar:not(.is-stuck) & {
				padding: pxToRem(56, 18) 0 pxToRem(56, 18) 0;
				font-size: pxToRem(18, 18);
			}
		}

		&:hover {
			color: $brand-primary;
		}
	}

	// == Current menu item
	.current-menu-item {
		@include media(">=ipad") {
			color: $brand-primary;
		}
	}

	.is-shown {
		> a {
			@include media(">=ipad") {
				color: $brand-primary;

				&::after {
					opacity: 1;
					transform: translateX(-50%) translateY(0px);
				}
			}
		}
	}

	// == has animation disabled class on menu

	&.has-animation-disabled {
		.has-submenu > a {
			&::after {
				transition: none;
				transform: translateX(-50%) translateY(0);
			}
		}
	}
}

// == Mobile menu
@include media("<ls") {
	// == Navbar header
	.navbar__header {
		.navbar__toggle {
			&:hover {
				.line-bar {
					&:first-of-type {
						transform: translateY(-2px);
					}

					&:last-of-type {
						transform: translateY(2px);
					}
				}
			}
		}
	}

	.navbar__header {
		position: absolute;
		top: 0px;
		right: 0px;
		height: 70px;
		width: 70px;
	}

	// == Navbar toggle button
	.navbar__toggle {
		height: 70px;
		width: 70px;
	}

	// == Menu holder
	.menu-holder,
	.menu .dropdown-menu {
		position: fixed;
		top: 0px;//~60px;
		right: 0;
		bottom: 0;
		z-index: $zindex-normal + 1000;
		overflow-x: hidden;
		overflow-y: auto;
		padding-top: 70px;
		background-color: $brand-white;
		max-width: pxToRem(350, 14);
		width: 100%;
		transform: translateX(100%);
		@include transition(all $transition_delay_default ceaser($easeInOutQuart));

		// == Open state
		&.shown,
		&.show {
			transform: translateX(0%);
		}

		.navbar__toggle {
			top: 0;
			bottom: auto;
		}
	}

	// == Menu
	.menu {
		display: block !important;
		border-top: 1px solid $brand-gray-light;
	}

	.js-menu-link,
	.menu__link {
		position: relative;
		color: $brand-black;
		text-align: left;

		.icon {
			position: absolute;
			top: 50%;
			right: pxToRem(22, 14);
			font-size: pxToRem(13, 14);
			font-weight: 600;
			transform: translateY(-50%);	
		}
	}
}

// == Menu backdrop
.menu-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: $zindex-normal + 111;
	background: transparentize(#000000, 0.3);

	@include media(">=ls") {
		display: none !important;
	}
}

// == Navbar header
.navbar__header,
.menu-holder .js-navbar-toggle {
	@include media(">=ls") {
		display: none !important;
	}
}