/*
** @partial: _submenu.scss
*/

// == Menu item with submenus
.topnavbar {
	@include media(">=ls") {
		overflow: hidden;

		&.is-submenu-shown {
			overflow: visible;
		}
	}
}

// == Submenus
.submenu-holder {
	@include media('<ls') {
		position: fixed;
		top: 70px;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: $zindex-normal;
		overflow-x: hidden;
		overflow-y: auto;
		display: block;
		background-color: $brand-white;
		border-top: 1px solid $brand-gray-light;
		height: auto !important;
		transform: translateX(100%);
		@include transition(all $transition_delay_default  ceaser($easeInOutQuint));

		.is-shown & {
			transform: translateX(0%);
		}
	}

	@include media('>=ls') {
		position: absolute;
		top: 100%;
		right: 1.625rem;
		left: 1.625rem;
		opacity: 0;
		pointer-events: none;
		z-index: $zindex-neg;
		margin-right: auto;
		margin-left: auto;
		padding: pxToRem(50, 18) pxToRem(70, 18);
		background: $brand-white;
		box-shadow: 0px 10px 40px 0px rgba($brand-black, 0.2);
		font-size: pxToRem(16, 18);
		letter-spacing: 1px;
		max-width: 305px;
		visibility: hidden;
		transform: translateY(-$translate_val);
		@include transition(all $transition_delay_default  ceaser($easeInOutSine));

		.has-animation-disabled .has-submenu--lg & {
			@include transition(height $transition_delay_default  ceaser($easeInOutSine));
		}

		.is-shown & {
			pointer-events: auto;
			opacity: 1;
			z-index: $zindex-low;
			visibility: visible;
			transform: translateY(0%);
		}

		// == Submenu holder inside megamenu
		.has-submenu--lg & {
			max-width: 1080px;
			width: 100%;
		}
	}

	@include media(">=ds") {
		font-size: pxToRem(18, 18);
		max-width: 1170px;
	}
}

// == Small submenu

.has-submenu--sm {
	position: relative;
	.submenu-holder {
		@include media('>=ls') {
			margin: 0;
			left: 50%;
			padding: pxToRem(50, 18) pxToRem(55, 18);
			width: 305px;
			transform: translateX(-50%) translateY(-$translate_val);
		}
	}

	&.is-shown {
		@include media('>=ls') {
			.submenu-holder {
				transform: translateX(-50%) translateY(0%);
			}
		}
	}
}

// == Sub menu grid
$submenu_grid_gutter: 40;

.submenu-grid {
	@include media(">=ls") {
		overflow: hidden;
		height: 100%;
		margin-right: pxToRem(-$submenu_grid_gutter, 18);
		margin-left: pxToRem(-$submenu_grid_gutter, 18);
		opacity: 0;
		visibility: hidden;
		@include transition(all $transition_delay_slow ceaser($easeInSine));
	}
}

.submenu-col {
	@include media("<ls") {
		flex: 0 0 100%;
		max-width: 100%;
	}

	@include media(">=ls") {
		position: static;
		overflow: hidden;
		height: 100%;
		padding-right: pxToRem($submenu_grid_gutter, 18);
		padding-left: pxToRem($submenu_grid_gutter, 18);
	}
}

.submenu-category-col-sm {
	@include media("<ls") {
		flex: 0 0 100%;
		max-width: 100%;
	}
}

.has-animation-disabled .is-shown,
.is-already-shown.is-shown {
	@include media(">=ls") {
		.submenu-grid {
			opacity: 1;
			visibility: visible;
			transform: translateY(0) !important;
		}
	}
}

// == Sub category content styles
.submenu-category__item {
	@include media(">=ls") {
		&:not(:last-of-type) {
			margin-bottom: pxToRem(14, 18);

			.has-submenu--sm & {
				margin-bottom: pxToRem(17, 18);
			}
		}
	}
}

.submenu-category__link {
	position: relative;
	display: inline-block;
	color: $brand-dark-gray;
	line-height: 1.35;

	@include media("<ls") {
		position: relative;
		display: block;
		padding: 25px 25px;
		border-bottom: 1px solid $brand-gray-light;
		color: inherit;
		font-size: 16px;
		font-weight: 500;
		line-height: 1;
		text-transform: uppercase;
		white-space: nowrap;

		&.js-submenu-link::before {
			opacity: 1 !important;
		}
	}

	&::before {
		@include make-pseudo-position(absolute, '');
		top: 50%;
		right: pxToRem(30, 14);
		opacity: 0;
		border-style: solid;
		border-width: pxToRem(2, 18) pxToRem(2, 18) 0 0;
		height: pxToRem(10, 14);
		width: pxToRem(10, 14);
		transform: rotate(45deg) translateY(-50%);
		@include transition(all $transition_delay_default ceaser($easeInOutSine));

		//@include media('>=ipad') {
		//	top: pxToRem(8, 14);
		//	right: auto;
		//	left: 0;
		//	height: pxToRem(8, 14);
		//	width: pxToRem(8, 14);
		//	transform: rotate(45deg);
		//}

		@include media('>=ls') {
			top: pxToRem(9, 18);
			left: -5px;
			height: pxToRem(8, 18);
			width: pxToRem(8, 18);
		}

		@include media('>=ds') {
			top: pxToRem(12, 18);
			height: pxToRem(9, 18);
			width: pxToRem(9, 18);
		}
	}
}

.is-active > .submenu-category__link {
	@include media(">=ls") {
		padding-left: pxToRem(25, 18);
		color: $brand-primary;
		&::before {
			opacity: 1;
		}
	}
}

.has-submenu--lg {
	@include media(">=ls") {
		.submenu-category > .submenu-category__item {
			&:not(:last-of-type) {
				margin-bottom: pxToRem(28, 18);
			}
		}

		> .submenu-category__link {
			line-height: 1.5;
		}
	}
}

.submenu-content-container {
	position: fixed;
	top: 0;
	bottom: 0;
	pointer-events: none;
	opacity: 0;
	background: $brand-white;
	visibility: hidden;
	width: 100%;

	&.is-shown {
		pointer-events: auto;
		opacity: 1;
		visibility: visible;
	}

	@include media("<ls") {
		z-index: $zindex-normal;
		overflow-x: hidden;
		height: calc(100vh - 70px);
		transform: translateX(100%);
		@include transition(all $transition_delay_default  ceaser($easeInOutQuint));

		&.is-shown {
			transform: translateX(0);
		}
	}

	@include media('>=ls') {
		position: absolute;
		right: 0;
		bottom: auto;
		left: auto;
		padding-right: 1.95%;
		padding-left: 1%;
		max-width: calc(100% - 33.3333333%);

		&.is-shown {
			@include transition(all $transition_delay_slow + 200ms ceaser($easeInOutSine));
		}
	}
}

.submenu-category__desc {
	@include media("<ls") {
		padding: 30px 25px;
	}

	@include media(">=ls") {
		max-width: 290px;
	}

	blockquote {
		font-size: 16px;

		@include media(">=ds") {
			font-size: 18px;
		}
	}
}

// == Responsive menu styles

@include media("<ls") {
	.menu__i-xs--current {
		display: flex;
		align-items: center;
		// margin: -1.875rem -15px 0;
		padding: 25px 25px;
		border-bottom: 1px solid $brand-gray-light;
		cursor: pointer;
		font-size: 16px;
		text-transform: uppercase;

		.icon {
			font-size: 13px;
			font-weight: 600;
		}
	}
}

@include media(">=ls") {
	.menu__i-xs--current {
		display: none;
	}
}