/**
* @partial: _header.scss
*/

// == Sticky top navbar(header)
.topnavbar--is-sticky {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    z-index: $zindex-normal + 10;
    background-color: $brand-faded;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.01), 0 2px 22px 3px rgba(0, 0, 0, 0.05);
    max-width: 1920px;
    @include transition(all $transition_delay_default ceaser($easeInOutQuart));

    @include media(">=ls") {
        .home & {
            background: transparent;
            box-shadow: none;
        }
    }

    &.is-stuck {
        background: $brand-faded !important;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.01), 0 2px 22px 3px rgba(0, 0, 0, 0.05) !important;
    }
}

// == Top navbar content
.topnavbar__c {
    display: flex;
    align-items: center;
    max-height: $header_height - 10px;
    height: $header_height - 10px;

    @include media(">=ls") {
        position: relative;
        overflow: hidden;
        max-height: none;
        height: auto;

        .is-submenu-shown & {
            overflow: visible;
        }
    }

    .notTouchDevice .modal-open & {
        padding-right: 17px;
    }
}

// == Top navbar row
.topnavbar-row {
    margin: 0 -15px;
}

// == Top navbar columns
.topnavbar-row__i {
    padding: 0 15px;

    // min-height: 1px;
    &--l {
        flex: 0 0 250px;
        max-width: 250px;

        @include media("<ipad", ">sm") {
            flex: 0 0 350px;
            max-width: 350px;
        }

        @include media(">=ipad") {
            flex: 0 0 pxToPerctange(515, 16);
            max-width: pxToPerctange(515, 16);
        }

        @include media(">=ls") {
            flex: 0 0 pxToPerctange(500, 18);
            max-width: pxToPerctange(500, 18);
        }
    }

    // == right column
    &--r {
        flex: 0 0 (100% - pxToPerctange(500, 18));
        max-width: (100% - pxToPerctange(500, 18));
    }
}

// == Brand logo
.brand {
    position: relative;
    display: flex;
    align-items: center;
    color: $brand-primary;
    font-size: pxToRem(14, 14);
    font-weight: 300;

    @include media(">sm") {
        font-size: pxToRem(16, 14);
    }

    @include media(">=ls") {
        color: $brand-white;
        font-size: pxToRem(16, 14);

        &__logo {
            //max-width: 41.31%;//~pxToRem(205, 18);
            display: none;
            width: 93%;
            max-width: 180px;
            @include transition(all $transition_delay_default ceaser($easeInOutSine));

            .home & {
                display: block;
            }

            // == Secondary logo
            &--secondary {
                display: block;
                @include make-full-position(absolute);
                opacity: 0;
                visibility: hidden;
                width: 72.55%;
                transform: scale(0);
            }

            // == With sticky header
            .is-stuck & {
                @include make-full-position(absolute);
                opacity: 0;
                visibility: hidden;
                transform: scale(0);

                &--secondary {
                    position: static;
                    opacity: 1;
                    visibility: visible;
                    transform: scale(1);
                }
            }
        }

        // == With sticky header
        .is-stuck & {
            color: $menu_link_sticky_color;
            font-size: pxToRem(14, 14);
        }
    }

    @include media(">=ls") {
        font-size: pxToRem(18, 18);

        // == With sticky header
        .is-stuck & {
            font-size: pxToRem(16, 18);
        }
    }

    @include media(">=ds") {
        font-size: pxToRem(20, 18);
    }

    &__logo {
        &--xs-screen {
            max-width: pxToRem(150, 14);
        }

        @include media("<=sm") {
            display: none;
        }

        @include media("<ls", ">sm") {
            display: none;
            &--secondary {
                display: block;
            }
        }
    }
}

// == Language dropdown
.lang-dropdown {
    position: absolute;
    top: 50%;
    right: 70px;
    transform: translateY(-50%);

    .dropdown-toggle {
        display: block;
        padding-top: 26px;
        padding-bottom: 26px;
        color: $brand-primary;
        font-size: 18px;
        line-height: 1;
        width: 100%;

        .isTouchDevice & {
            &:hover {
                color: inherit;
            }
        }
    }

    @include media(">=ls") {
        position: relative;
        top: auto;
        right: auto;
        display: flex;
        align-items: center;
        margin-left: pxToRem(20, 18);
        transform: none;

        .dropdown-toggle {
            padding-top: 31px;
            padding-bottom: 31px;

            .home & {
                padding-top: pxToRem(44.5, 18);
                padding-bottom: pxToRem(44.5, 18);
                font-size: inherit;
            }

            .home .is-stuck & {
                padding: pxToRem(24.122, 14) 0 pxToRem(24.122, 14) 0;
            }
        }
    }

    @include media(">=ds") {
        margin-left: pxToRem(40, 18);

        .home & {
            .dropdown-toggle {
                padding-top: pxToRem(56, 18);
                padding-bottom: pxToRem(56, 18);
            }
        }
    }
}

// == language dropdown menu
.lang-dropdown {
    .dropdown-menu {
        right: auto;
        left: 50%;
        min-width: pxToRem(65, 18);
        transform: translateX(-50%) translateY(-15px);
    }

    &.show {
        .dropdown-menu {
            transform: translateX(-50%) translateY(0px);
        }
    }
}

// == Sticky request quote
.sticky-request-quote-holder {
    @include media("<ls") {
        position: absolute;
        top: 0;
        right: 112px;
        z-index: $zindex-normal + 10;
        width: 80px !important;

        .icon {
            font-size: pxToRem(40, 14);
        }
    }

    @include media("<ls", ">sm") {
        width: 210px !important;
    }

    @include media(">=ls") {
        position: absolute;
        top: 0;
        right: 0;
        z-index: $zindex-normal + 10;
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: pxToRem(314, 18);
        width: 100%;;
        transform: translate(0, -100%);
        @include transition(all $transition_delay_default ceaser($easeInSine));

        // Is sticky
        .home.is-request-quote-shown &,
        .content-loaded:not(.home) & {
            pointer-events: auto;
            opacity: 1;
            visibility: visible;
            z-index: $zindex-normal + 10;
            transform: translate(0, 0);
        }
    }
}

.btn.sticky-request-quote-btn {
    padding: 15px 15px;
    box-shadow: none !important;
    font-size: 16px;
    line-height: 1.2;
    outline: 0 !important;
    white-space: normal;
    max-height: 70px;

    @include media("<ls", ">sm") {
        padding: 26px 15px;
    }

    @include media("<ds", ">=ls") {
        padding: pxToRem(24, 18) 20px;
        max-height: none;
    }

    @include media(">=ds") {
        padding: pxToRem(21, 18) 20px;
        font-size: pxToRem(16, 18);
        max-height: none;
    }

    @include media(">=1700px") {
        padding: pxToRem(30.5, 18) 20px;
        font-size: pxToRem(16, 18);
    }
}

.home .navbar {
    @include transition(all $transition_delay_default ceaser($easeInSine));
}

.is-request-quote-shown {
    .navbar {
        @include media(">=ls") {
            padding-right: pxToRem(180, 18);
        }

        @include media(">=ds") {
            padding-right: pxToRem(200, 18);
        }
    }
}
