/*
 * @partial: _filter.scss
 */

/* ============================= Filter module ============================== */

.filter-nav {
    @include media(">=ipad") {
        display: flex;
        flex-wrap: nowrap;
    }

    color: $brand-dark-gray;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}

.filter-nav__label {
    @include media(">=ipad") {
        flex: 0 0 105px;
        max-width: 105px;

        margin-top: 20px;
    }
}

.filter-nav__list {
    @include media(">=ipad") {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        margin-right: -13px;
        margin-left: -13px;
        padding-left: pxToRem(40, 18);
    }
}

.filter-nav__item {
    @include media(">=ipad") {
        margin-bottom: 10px;
        padding-right: 13px;
        padding-left: 13px;
    }
}

.filter-field-label {
    position: relative;
    z-index: $zindex-normal;
    margin-bottom: 0;

    &::before {
        @include make-pseudo-position(absolute, full);
        content: '';
        opacity: 0;
        z-index: $zindex-neg;
        background: transparent;
        width: 100%;
        transition: opacity ceaser($easeInOutQuad) 0.35s;
    }

    &:hover {
        .notTouchDevice & {
            color: $brand-white;
            border-color: transparent;

            &::before {
                opacity: 1;
                background: lighten($brand-secondary, 5%);

                @include media(">=ipad") {
                    background-image: linear-gradient(to bottom, $primary_gradient_end 0%, $primary_gradient_start 100%);
                }
            }
        }
    }

    @include media(">=ipad") {
        padding-right: pxToRem(27, 18);
        padding-left: pxToRem(27, 18);
        border: 1px solid $brand-dark-gray;
        @include transition(all $transition_delay_default ceaser($easeInOutSine));
    }
}

.filter-field-input:checked + .filter-field-label {
    color: $brand-white;
    border-color: transparent;

    &::before {
        opacity: 1;
        background: lighten($brand-secondary, 5%);

        @include media(">=ipad") {
            background-image: linear-gradient(to bottom, $primary_gradient_end 0%, $primary_gradient_start 100%);
        }
    }
}

// == Responsive filter

@include media("<ipad") {
    .filter-nav__list {
        overflow: hidden;
        opacity: 0;
        pointer-events: none;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.01), 0 5px 32px 10px rgba(0, 0, 0, 0.05) !important;
        max-height: 0px;
        @include transition(all $transition_delay_slow ceaser($easeInOutSine));

        &.is-shown {
            opacity: 1;
            pointer-events: auto;
            max-height: pxToRem(500, 14);
        }
    }

    .filter-nav__label {
        position: relative;
        padding: pxToRem(20, 14) pxToRem(15, 14);
        background: $brand-secondary;
        color: $brand-white;
        font-size: pxToRem(16, 14);
        cursor: pointer;
        line-height: 1;

        &::before {
            position: absolute;
            top: 50%;
            right: 17px;
            content: "";
            margin-top: 3px;
            border-style: solid;
            border-width: pxToRem(2.5, 14) pxToRem(2.5, 14) 0 0;
            height: 11px;
            width: 11px;
            transform: translateY(-50%) rotate(-45deg);
            @include transition(all $transition_delay_default ceaser($easeInOutSine));
        }

        &.is-collapsed {
            &::before {
                margin-top: -3px;
                transform: translateY(-50%) rotate(135deg);
            }
        }
    }

    .filter-nav__item {
        &:not(:last-of-type) {
            border-bottom: 1px solid $brand-gray-light;
        }
    }

    .filter-field-label {
        display: block;
        padding: pxToRem(20, 14) pxToRem(15, 14);
        text-align: left;
    }
}