/**
* @partial: _hero.scss
* @desc: contains style rules to control the layout of hero modules
*/

// Hero blocks
.hero {
    position: relative;
    overflow: hidden;
}

// Hero overlary card
.hero__overlay-card {
    @include media("<=sm") {
        position: static !important;
        margin-right: pxToRem(-15, 14);
        margin-left: pxToRem(-15, 14);
        background: $brand-black !important;
        transform: none !important;
    }

    @include media(">sm") {
        max-width: pxToRem(280, 14);
    }

    @include media(">=ipad") {
        max-width: pxToRem(330, 16);
    }

    @include media(">=ls") {
        max-width: pxToRem(370, 18);
    }
}

// == hero video
.hero__video {
    &::before {
        @include make-pseudo-position(absolute, full) {
            z-index: $zindex-normal;
            background: transparentize(#000000, 0.65);
        }
    }
}

.video-card__video-holder {
    position: relative;
    overflow: hidden;
    padding-bottom: percentage(800 / 1920);
    width: 100%;
    height: 0;
    transform: scale(1.35); // Note this value may vary depending upon the resolution of the video

    &::before,
    &::after {
        @include make-pseudo-position(absolute, full);
        z-index: $zindex-normal;
        //background: transparentize($brand-black, 0.8);
    }

    &::after {
        z-index: $zindex-neg;
        background: linear-gradient(to bottom, $secondary_gradient_start, $secondary_gradient_end);
    }
}

.video-card__overlay {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: $zindex-normal;
}

.video-card__node,
#player {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    display: block;
    transform: translate3d(-50%, -50%, 0);
}