/**
 * Banner modules
 */

/* ========================= Promo modules ========================= */
.promo {
	position: relative;
	overflow: hidden;
}

.promo__picture {
	position: relative;
	overflow: hidden;

	&::before {
		@include make-pseudo-position(absolute, full);
		background: transparentize(#000000, 0.85);
	}

	//@include media("<=sm") {
	//	height: pxToRem(200, 14);
	//}
}

//.promo__img {
//	@include media("<=sm") {
//		position: absolute;
//		top: 50%;
//		left: 50%;
//		max-width: initial;
//		min-width: initial;
//		height: 100%;
//		width: auto;
//		transform: translateX(-50%) translateY(-50%);
//	}
//}

.promo__overlay-card {
	@include media("<=sm") {
		position: static !important;
		margin-right: pxToRem(-15, 14);
		margin-left: pxToRem(-15, 14);
		background: $brand-secondary !important;
		transform: none !important;
	}

	@include media(">sm") {
		max-width: 420px;
		font-size: 16px;
	}

	@include media(">=ls") {
		max-width: pxToRem(465, 18);
		font-size: pxToRem(20, 18);
	}
}