/**
 * Box card module
 */

/*================ CMS box card module styles ================*/

.box-card-container {
	> .overlay-card {
		@include media("<=sm") {
			position: static;
			transform: none;
		}
	}
}

.box-card-container-pad-left {
	position: relative;
	@include media(">=ipad") {
		padding-left: pxToRem(80, 18);
	}
}

.box-card {
	position: relative;
	overflow: hidden;
	display: flex;
	flex-grow: 1;
	//font-weight: 300;

	@include media(">sm") {
		font-size: 16px;
	}

	@include media(">=ls") {
		font-size: pxToRem(20, 18);
	}
}

.box-card__body {
	flex-grow: 1;
	padding: pxToRem(25, 14) pxToRem(15, 14);

	@include media(">sm") {
		padding: pxToRem(53, 14) pxToRem(30, 14);
	}

	@include media(">=ipad") {
		padding: pxToRem(40, 16) pxToRem(35, 16);
	}

	@include media(">=ls") {
		padding: pxToRem(53, 18) pxToRem(55, 18);
	}

	// == Box Card Modifiers

	// Medium sized box card
	.box-card--md & {
		@include media(">sm") {
			padding: pxToRem(55, 14) pxToRem(30, 14);
		}

		@include media(">=ipad") {
			padding: pxToRem(50, 16) pxToRem(35, 16);
		}

		@include media(">=ls") {
			padding: pxToRem(70, 18) pxToRem(55, 18);
		}
	}

	// Large size box card
	.box-card--lg & {
		@include media(">=ipad") {
			padding: pxToRem(50, 16) pxToRem(35, 16);
		}

		@include media(">=ls") {
			padding: pxToRem(85, 18) pxToRem(55, 18);
		}
	}
}

// == Box card with pattern
.box-card.has-pattern {
	&::before {
		@include make-pseudo-position(absolute, full);
		background: url(#{$img_path}bkg-pattern-dark.jpg);
		background: {
			position: top left;
			repeat: repeat;
		};
	}
}