/**
 * Post entry card
 */

/* ================ Post entry card =================*/

.entry-card-row {
	&:not(:last-of-type) {
		margin-bottom: pxToRem(30, 14);

		@include media(">=ipad") {
			margin-bottom: pxToRem(50, 18);
		}
	}
}

.entry-card {
	position: relative;
	overflow: hidden;
	@include transition(all $transition_delay_default ceaser($easeInOutSine));

	@include media(">sm") {
		font-size: 16px;
	}

	@include media(">=ls") {
		font-size: pxToRem(20, 18);
	}

	&.is-shadowed {
		box-shadow: $entry_card_box_shadow !important;
	}
}

// == Entry card titles

.entry-card__title {
	margin-bottom: pxToRem(15, 14);
	text-transform: unset;

	@include media(">=ipad") {
		margin-bottom: pxToRem(45, 16);

		// == Modifer parent
		.entry-card--sm & {
			margin-bottom: pxToRem(30, 16);
		}
	}

	@include media(">=ls") {
		margin-bottom: pxToRem(70, 18);

		// == Modifer parent
		.entry-card--sm & {
			margin-bottom: pxToRem(50, 18);
		}
	}

}

.entry-card__subtitle {
	margin-bottom: pxToRem(10, 14);
	text-transform: unset;

	@include media(">=ipad") {
		margin-bottom: pxToRem(28, 18);
	}
}

// == Entry card thumbnail

.entry-card__picture {
	&:not(:last-child) {
		margin-bottom: pxToRem(25, 14);
	}

	&:not(:first-child) {
		margin-top: pxToRem(25, 14);
	}

	@include media(">=ipad") {
		&:not(:last-child) {
			margin-bottom: pxToRem(35, 16);
		}

		&:not(:first-child) {
			margin-top: pxToRem(35, 16);
		}
	}

	@include media(">=ls") {
		&:not(:last-child) {
			margin-bottom: pxToRem(50, 18);
		}

		&:not(:first-child) {
			margin-top: pxToRem(50, 18);
		}
	}
}

// == Entry card modifiers
// #1: Boxed entry card

.entry-card--boxed {
	&:hover {
		box-shadow: $entry_card_box_shadow !important;
	}

	.entry-card__body {
		padding: pxToRem(30, 14) pxToRem(25, 14) pxToRem(40, 14);

		@include media(">=ipad") {
			padding: pxToRem(40, 16) pxToRem(35, 16) pxToRem(50, 16);
		}

		@include media(">=ls") {
			padding: pxToRem(47, 18) pxToRem(43, 18) pxToRem(65, 18);
		}
	}
}

// #1: Flat entry card
.entry-card--flat {
	@include media(">=ls") {
		font-size: pxToRem(18, 18);
	}

	.entry-card__body {
		@include media(">sm") {
			padding-right: 15px;
			padding-left: 15px;
		}
	}

	.btn {
		margin-top: pxToRem(5, 14);
		@include media(">sm") {
			margin-top: pxToRem(32, 18);
		}
	}

	.btn-link {
		margin-top: pxToRem(5, 14);
		@include media(">sm") {
			margin-top: pxToRem(10, 18);
		}
	}
}