/**
 * Stacked block card
 */

/*================ CMS block module styles ================*/

.stacked-block.stacked-block--mb {
    @include media(">sm") {
        margin-bottom: pxToRem(45, 14);
    }

    @include media(">=ipad") {
        margin-bottom: pxToRem(60, 16);
    }

    @include media(">=ls") {
        margin-bottom: pxToRem(90, 18);
    }
}

.stacked-block__title.has-line,
.block__title.has-line {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-bottom: pxToRem(25, 14);

    @include media(">=ipad") {
        margin-bottom: 40px;
    }

    &::before {
        @include make-pseudo-position(absolute, '');
        top: 0;
        right: 0;
        z-index: $zindex-normal + 1;
        background: $brand-primary;
        height: pxToRem(150, 14);
        width: 3px;

        @include media(">sm") {
            height: pxToRem(185, 16);
        }

        @include media(">=ls") {
            height: pxToRem(185, 18);
        }
    }

    &::after {
        @include make-pseudo-position(absolute, '');
        right: 0;
        bottom: pxToRem(-88, 14);
        z-index: $zindex-normal;
        background: $brand-primary;
        border-radius: 50%;
        height: 15px;
        width: 15px;

        @include media(">sm") {
            bottom: -99px;
        }

        @include media(">=ls") {
            bottom: -85px;
        }
    }

    // == Size modifiers
    &.thin {
        &::before {
            height: 1px !important;
        }

        &::after {
            display: none !important;
        }
    }

    // == Alignment modifiers
    &.right {
        &::before {
            right: -35px;
        }

        &::after {
            right: -41px;
        }

        &.has-line--lg {
            &::before {
                right: -60px;
            }

            &::after {
                right: -66px;
            }
        }
    }

    // == Modifiers
    &.bottom {
        padding-bottom: pxToRem(40, 18);
        &::before {
            top: auto;
            bottom: 0;
            left: 0;
            height: 3px;
            width: 305px;

            @include media(">sm") {
                width: pxToRem(419, 14);
            }

            @include media(">=ipad") {
                width: pxToRem(480, 16);
            }

            @include media(">=ls") {
                width: pxToRem(479, 18);
            }
        }

        &::after {
            top: auto;
            right: -109px;
            bottom: -5px;

            @include media(">sm") {
                right: pxToRem(-223, 14);
            }

            @include media(">=ipad") {
                right: pxToRem(-220, 16);
            }

            @include media(">=ls") {
                right: pxToRem(-185, 18);
            }
        }
    }
}

.stacked-card__subtitle {
    margin-bottom: pxToRem(25, 18);
    text-transform: unset;
}

/*================ CMS stacked card grid module styles ================*/

$stacked_card_col_default_width: 41.452991452991455%;

.stacked-card-container {
    display: flex;
    flex-wrap: wrap;
    &:not(:last-of-type) {
        margin-bottom: pxToRem(40, 14);
    }

    @include media(">sm") {
        flex-wrap: nowrap;
        &:not(:last-of-type) {
            margin-bottom: pxToRem(50, 14);
        }
    }

    @include media(">=ipad") {
        &:not(:last-of-type) {
            margin-bottom: pxToRem(70, 16);
        }
    }

    @include media(">=ls") {
        &:not(:last-of-type) {
            margin-bottom: pxToRem(100, 18);
        }
    }
}

.stacked-card-col {
    flex: 0 0 100%;
    max-width: 100%;

    @include media(">sm") {
        flex: 0 0 34.187777780000005%;
        max-width: 34.187777780000005%;

        // == Stacked container with child pushed
        .stacked-card-container--child-pushed & {
            margin-left: -7.265213672200005 * 2%;

            &--text {
                flex: 0 0 $stacked_card_col_default_width;
                max-width: $stacked_card_col_default_width;
            }
        }

        &--picture {
            flex: 0 0 100% - $stacked_card_col_default_width + 7.265213672200005%;
            max-width: 100% - $stacked_card_col_default_width + 7.265213672200005%;

            // == Stacked container with child pushed
            .stacked-card-container--child-pushed & {
                margin-right: 7.265213672200005%;
                margin-left: auto;
            }
        }

        &.order-sm-2 {
            // == Stacked container with child pushed
            .stacked-card-container--child-pushed & {
                margin-right: 0;
                + .stacked-card-col {
                    margin-right: -7.265213672200005%;
                    margin-left: 0;
                }
            }
        }
    }
}

/*================ CMS stacked card module styles ================*/

.stacked-card {
    position: relative;

    &.is-shadowed {
        box-shadow: $box_shadow !important;
    }

    &.is-xs-shadowed {
        @include media(">sm") {
            box-shadow: none !important;
        }

        box-shadow: $box_shadow !important;
    }
}

.stacked-card__title {
    margin-bottom: pxToRem(20, 14);
    font-weight: 300;

    @include media(">=ipad") {
        margin-bottom: 40px;
    }
}

.stacked-card__body {
    padding: pxToRem(30, 14) pxToRem(30, 14);

    @include media(">sm") {
        padding: pxToRem(30, 14) pxToRem(30, 14);
    }

    @include media(">=ipad") {
        padding: pxToRem(65, 16) pxToRem(60, 16);
    }

    @include media(">=ls") {
        padding: pxToRem(80, 18) pxToRem(80, 18);
    }

    // == Stack cards with modifiers

    .stacked-card--xs & {
        @include media(">=ipad") {
            padding: pxToRem(55, 16) pxToRem(45, 16);
        }

        @include media(">=ls") {
            padding: pxToRem(70, 18) pxToRem(55, 18);
        }
    }

    .stacked-card--sm & {
        @include media(">=ipad") {
            padding: pxToRem(55, 16) pxToRem(49, 16);
        }

        @include media(">=ls") {
            padding: pxToRem(60, 18) pxToRem(75, 18);
        }
    }
}

.stacked-card__picture {
    position: relative;
    overflow: hidden;
    background: $brand-white;
    //@include transition(all $transition_delay_default ceaser($easeInOutSine));

    &::before {
        content: "";
        display: block;
        padding-bottom: percentage(575 / 770);
        width: 100%;
    }

    &::after {
        @include make-pseudo-position(absolute, full);
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, rgba($brand-dark, 0.5) 100%);

        .stacked-block--promo & {
            display: none;
        }
    }

    + .fade-animating {
        @include make-full-position(absolute);
        z-index: $zindex-normal;
        background: transparentize($brand-white, 0.5);
        @include transition(all $transition_delay_default ceaser($easeInOutSine));
    }
}

.stacked-card__img {
    @include make-full-position(absolute);
    width: 100%;
}

.stacked-card__picture-caption {
    padding: 20px;
    font-size: pxToRem(16, 14);

    @include media(">=ipad") {
        font-size: pxToRem(18, 16);
    }

    @include media(">=ls") {
        font-size: pxToRem(20, 18);
    }
}

.stacked-card__list {
    margin-bottom: pxToRem(25, 14);

    @include media(">=ipad") {
        margin-bottom: pxToRem(40, 16);
    }

    @include media(">=ls") {
        margin-bottom: 45px;
    }
}

.stacked-card .lists-editor--unordered {
    &:not(:first-child) {
        margin-top: pxToRem(20, 14);
    }

    &:not(:last-child) {
        margin-bottom: pxToRem(25, 14);
    }

    @include media(">sm") {
        &:not(:first-child) {
            margin-top: pxToRem(25, 14);
        }

        &:not(:last-child) {
            margin-bottom: pxToRem(35, 14);
        }
    }

    @include media(">=ls") {
        &:not(:first-child) {
            margin-top: pxToRem(35, 14);
        }

        &:not(:last-child) {
            margin-bottom: pxToRem(40, 14);
        }
    }
}

.stacked-card__list {
    .lists__item:not(:last-of-type) {
        margin-bottom: pxToRem(10, 18);
    }
}