/*
** @partial: _footer.scss
*/

// == Footer
.footer {
    position: relative;
    font-size: pxToRem(20, 18);

    @include media(">sm") {
        .footer-widget,
        .footer-credit {
            margin-left: auto;
            max-width: 335px;
        }

        .lists__link, .footer-credit-link, a {
            &:hover {
                opacity: 0.75;
            }
        }
    }

    // Address
    address {
        line-height: 1.73;
    }

    a {
        color: inherit;
    }
}

.footer__overaly-content {
    max-width: pxToRem(1163, 18); //~59.75%;//~96.8755555%;
    padding-right: pxToRem(15, 14);
    padding-left: pxToRem(15, 14);

    @include media("<ds") {
        position: static !important;
        max-width: initial;

        .text-widget {
            margin-left: 0;
        }
    }

    // Large size box card
    .box-card--lg .box-card__body {
        @include media(">sm") {
            padding: pxToRem(50, 18) pxToRem(30, 18) pxToRem(30, 18);
        }

        @include media(">=ipad") {
            padding: pxToRem(50, 18) pxToRem(35, 18) pxToRem(27, 14);
        }

        @include media(">=ds") {
            padding: pxToRem(85, 18) pxToRem(55, 18) pxToRem(40, 18);
        }
    }
}

// == Footer credit
.footer-credit,
.footer-credit-link {
    color: $brand-gray;
    font-size: 14px;
    line-height: 1.35;

    @include media(">=ipad") {
        font-size: 16px;
    }
}

// == Sticky Messenger button
.sticky-messenger-holder {
    @include make-position(fixed);
    left: 15px;
    bottom: 15px;
    z-index: $zindex-normal;

    @include media(">sm") {
        right: 15px;
        left: auto;
        @include transition(all $transition_delay_default ceaser($easeInOutSine));

        .is-scroll-top-shown & {
            right: pxToRem(100, 18);
        }
    }
}