/**
* @partial: _accordion.scss
*/

// == accordion panel
.accordion-panel:not(:last-of-type) {
	margin-bottom: 15px;
}

// == accordion panel body
.accordion-panel__body {
	padding: pxToRem(25, 14) pxToRem(15, 14) pxToRem(10, 14);

	@include media(">=ipad") {
		padding: pxToRem(25, 18) pxToRem(35, 18)
	}
}

// == accordion title link
.accordion-panel__link {
	position: relative;
	display: block;
	padding: pxToRem(18, 14) pxToRem(15, 14);
	background: $brand-secondary;
	color: $brand-white;
	text-transform: uppercase;
	line-height: 1;

	@include media("<ipad") {
		font-size: pxToRem(16, 14);
	}

	@include media(">=ipad") {
		padding: pxToRem(16, 18) pxToRem(35, 18);
	}

	&:focus,
	&:hover {
		background: darken($brand-secondary, 5%);
		color: $brand-white;
	}

	// == Icons
	&::before,
	&::after {
	    position: absolute;
	    top: 50%;
	    right: pxToRem(15, 14);
	    content: "";
	    background: $brand-white;
	    width: 14px;
	    height: 2px;
	    transform: translateY(-50%);
		@include transition(all $transition_delay_default ceaser($easeInOutSine));

		@include media(">=ipad") {
			right: pxToRem(35, 18);
		}
	}

	&:not(.expanded)::after {
		transform: translateY(-50%) rotate(-90deg);
	}
}

.accordion .accordion-panel__collapse {
	display: none;

	&.is-active {
		display: block;
	}
}

// == Accordion content
.accordion-panel__collapse {
	table {
		&:not(:first-child) {
			margin-top: pxToRem(25, 14);

			@include media(">=ipad") {
				margin-top: pxToRem(30, 18);
			}
		}

		&:not(:last-child) {
			margin-bottom: pxToRem(25, 14);

			@include media(">=ipad") {
				margin-bottom: pxToRem(30, 18);
			}
		}
	}

	h4 {
		color: $brand-dark-gray;
	}
}

// == Modifier Larger, accordion
.accordion--lg {
	// == Accordion panel
	.accordion-panel {
		margin-bottom: 0;
	}

	// == Accordion heading
	.accordion-panel__title {
		position: relative;
		color: $brand-secondary;
		@include transition(all $transition_delay_default ceaser($easeInOutSine));

		&::before,
		&::after {
			@include make-pseudo-position(absolute, full);
			width: 23.438rem;
		}

		&::before {
			right: auto;
			left: -23.438rem;
		}

		&::after {
			right: -23.438rem;
			left: auto;
		}

		&:hover {
			.accordion-panel__link {
				&::before,
				&::after {
					background: $brand-white;
				}
			}
		}
	}

	.accordion-panel__link {
		padding: pxToRem(45, 18) 15px;
		background: transparent;
		color: inherit;
		font-size: inherit;
		text-transform: unset;
		transition: none;

		&::before,
		&::after {
			right: 15px;
			background: $brand-secondary;
			height: 2px;
			width: 16px;
		}
	}

	// == Striped styles

	.accordion-panel:nth-child(odd) {
		.accordion-panel__title {
			background: $brand-white;

			&::before,
			&::after {
				background: inherit;
			}

			&:hover {
				background: $brand-secondary;
				color: $brand-white;
			}
		}

		&.active {
			.accordion-panel__title {
				background: $brand-secondary;
				color: $brand-white;
			}

			.accordion-panel__link {
				&::before,
				&::after {
					background: $brand-white;
				}
			}
		}

		.accordion-panel__collapse {
			background: $brand-white;

			&::before,
			&::after {
				background: inherit;
			}
		}
	}

	.accordion-panel:nth-child(even) {
		.accordion-panel__title {
			background: $brand-faded;

			&::before,
			&::after {
				background: inherit;
			}

			&:hover {
				background: lighten($brand-secondary, 15%);
				color: $brand-white;
			}
		}

		&.active {
			.accordion-panel__title {
				background: lighten($brand-secondary, 15%);
				color: $brand-white;
			}

			.accordion-panel__link {
				&::before,
				&::after {
					background: $brand-white;
				}
			}
		}

		.accordion-panel__collapse {
			background: $brand-faded;

			&::before,
			&::after {
				background: inherit;
			}
		}
	}

	// == Accordion content
	.accordion-panel__collapse {
		margin-right: -23.438rem;
		margin-left: -23.438rem;
		padding-right: 23.438rem;
		padding-left: 23.438rem;
	}

	.accordion-panel__body {
		position: relative;
		padding: pxToRem(25, 14) pxToRem(15, 14) pxToRem(25, 14);

		@include media(">=ipad") {
			padding: pxToRem(55, 18) 15px;
		}
	}
}