/**
 * Bootstrap's breadcrumb
 */

.breadcrumb {
	padding-top: pxToRem(17, 14);
	padding-bottom: pxToRem(17, 14);
	background: $brand-primary-alt;

	@include media(">=ipad") {
		padding-top: 17px;
		padding-bottom: 17px;
	}
}

.breadcrumb-list {
	display: flex;
	margin: 0 -10px;
	font-size: pxToRem(14, 14);
	line-height: 1.2;

	@include media(">=ipad") {
		font-size: 16px;
	}
}

.breadcrumb-list__item {
	padding-right: 10px;
	padding-left: 10px;
}

.breadcrumb-list__link {
	position: relative;
	color: $brand-white;

	&:hover,
	&:focus {
		color: $brand-white;
		opacity: 0.75;
	}

	&::before {
		position: absolute;
		top: 50%;
		right: -15px;
		margin-top: 1px;
		content: "\e90a";
		font-family: 'icomoon' !important;
		font-size: 10px;
		transform: translateY(-50%);
	}
}