/**
 * Common style rules
 */

/*================ Line height utilities classes ================*/

@for $i from 1 through 3 {
	.line-height-#{$i} {
		line-height: #{$i};
	}
}

/*================ On hover utilities classes ================*/

@for $i from 1 through length($brand_class_list) {
	.has-hover-action {
		&.bg-#{nth($brand_class_list, $i)} {
			@include transition(all $transition_delay_default ceaser($easeInOutSine));

			&:hover {
				background: darken(nth($brand_color_list, $i), 7%) !important;
			}
		}
	}
}

/*================ Margin top pushed utilities classes ================*/

[class*="mt-pushed"],
[class*="mb-pushed"] {
	position: relative;
	z-index: $zindex-normal;
}

.mt-pushed-70 {
	@include media(">sm") {
		margin-top: pxToRem(-30, 14);
	}

	@include media(">=ipad") {
		margin-top: pxToRem(-70, 18);
	}
}

.mt-pushed-100 {
	@include media(">sm") {
		margin-top: pxToRem(-40, 14);
	}

	@include media(">=ipad") {
		margin-top: pxToRem(-55, 16);
	}

	@include media(">=ls") {
		margin-top: pxToRem(-100, 18);
	}
}

.mt-pushed-350 {
	margin-top: pxToRem(-50, 14);
	@include media(">sm") {
		margin-top: pxToRem(-160, 14);
	}

	@include media(">=ipad") {
		margin-top: pxToRem(-257, 16);
	}

	@include media(">=ls") {
		margin-top: pxToRem(-337, 18);
	}
}

.mb-pushed-90 {
	@include media(">sm") {
		margin-bottom: pxToRem(-100, 14) !important;
	}

	@include media(">=ipad") {
		margin-bottom: pxToRem(-120, 16) !important;
	}

	@include media(">=ls") {
		margin-bottom: pxToRem(-190, 18) !important;
	}
}

.mb-pushed-135 {
	@include media(">sm") {
		margin-top: pxToRem(100, 14) !important;
	}

	@include media(">=ipad") {
		margin-top: pxToRem(120, 16) !important;
	}

	@include media(">=ls") {
		margin-top: pxToRem(135, 18) !important;
	}
}

/* =============== Custom spacing ====================== */

.p-xs-0 {
	@include media("<=sm") {
		padding: 0 !important;
	}
}

/*================ Smooth hover actions ================*/

.has-hover-action .hover-effect-bubba {
	backface-visibility: hidden;
	&::before,
	&::after {
		@include make-position(absolute);
		top: 20px;
		right: 20px;
		left: 20px;
		bottom: 20px;
		z-index: $zindex-normal;
		opacity: 0;
		pointer-events: none;
		content: "";
		@include transition(all $transition_delay_default ceaser($easeInOutSine));
	}

	&::before {
		border-top: 1px solid $brand-white;
		border-bottom: 1px solid $brand-white;
		transform: scale(0, 1);
	}

	&::after {
		border-right: 1px solid $brand-white;
		border-left: 1px solid $brand-white;
		transform: scale(1, 0);
	}

	&:hover {
		&::before,
		&::after {
			opacity: 1;
			transform: scale(1);
		}

		.square-card__hover-content {
			opacity: 1;
			pointer-events: auto;
		}

		.link-stacked {
			display: block !important;
		}
	}
}