/**
* @partial: _icons.scss
*/

/* ============= Icons style ============= */

.icon {
	margin-right: 0.625rem;

	// is last child
	&.right {
		margin-right: 0 !important;
		margin-left: 0.625rem;
	}
}

// == Icons color variants
@for $i from 1 through length($brand_class_list) {
	.icon-#{nth($brand_class_list, $i)} {
		color: nth($brand_color_list, $i);
	}
}

// == Icons size variants
@for $i from 1 through length($brand_size_class_list) {
	.icon-#{nth($brand_size_class_list, $i)} {		
		@if nth($brand_size_class_list, $i) == 'lg' {
			font-size: nth($brand_size_val_list, $i) - 0.25 !important;
			@include media(">sm") {
				font-size: nth($brand_size_val_list, $i) !important;
			}
		} @else if nth($brand_size_class_list, $i) == 'xl' {
			font-size: nth($brand_size_val_list, $i) - 0.75 !important;
			@include media(">=ipad") {
				font-size: nth($brand_size_val_list, $i) !important;
			}
		} @else if nth($brand_size_class_list, $i) == 'xlg' {
			font-size: nth($brand_size_val_list, $i) - 2 !important;
			@include media(">sm") {
				font-size: nth($brand_size_val_list, $i) - 1 !important;
			}
			@include media(">=ipad") {
				font-size: nth($brand_size_val_list, $i) !important;
			}
		} @else {
			font-size: nth($brand_size_val_list, $i) !important;
		}
	}
}

// == Ui picto styles

.ui-picto {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
	min-width: 35px;
	min-height: 28px;

	&::before {
		position: absolute;
		top: -7px;
		left: 50%;
		z-index: $zindex-low;
		content: "";
		width: 0;
		height: 0;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid $brand-white;
		transform: translateX(-50%);
	}

	&--lg {
		padding: pxToRem(22, 18) pxToRem(25, 18) pxToRem(20, 18);
		&::before {
			top: -20px;
			border-left: 30px solid transparent;
			border-right: 30px solid transparent;
			border-bottom: 30px solid $brand-primary;
		}
	}

	.icon-plus {
		font-size: 12px;
	}

	// Media query

	@include media(">=ipad") {
		min-width: 40px;
		min-height: 35px;

		.icon-plus {
			font-size: 14px;
		}
	}
}

// == Picto color modifiers

@for $i from 1 through length($brand_class_list) {
	.ui-picto--#{nth($brand_class_list, $i)} {
		@if nth($brand_class_list, $i) == 'success' {
			background: #0dace2;

			&::before {
				border-bottom-color: #0dace2;
			}
		} @else if nth($brand_class_list, $i) == 'faded' {
			background: $brand-white;

			&::before {
				border-bottom-color: $brand-white;
			}
		} @else {
			background: nth($brand_color_list, $i);

			&::before {
				border-bottom-color: nth($brand_color_list, $i);
			}
		}
	}
}

// == Picto grid

.ui-picto__row {
	display: flex;
	align-items: center;
	margin-left: -13px;
	margin-right: -13px;
}

.ui-picto__item {
	padding-left: 13px;
	padding-right: 13px;
	line-height: 1;
	text-align: left;
}

.event-date,
.event-month {
	line-height: 0.95;
}

// == Ui button with icons
.ui-btn-group {
	.ui-btn:not(:last-child) {
		margin-right: pxToRem(20, 18);
	}
}

.ui-btn {
	display: inline-flex;
	align-items: center;
	color: $brand-black;
	font-size: 16px;
	text-transform: uppercase;
	vertical-align: middle;

	&:hover {
		opacity: 0.75;
		color: inherit;
	}
}