/*
** @partial: _lists.scss
*/

/* ============= General list ============= */

.lists {
	line-height: 1.47;
	>li,
	&__item {
		&:not(:last-of-type) {
			margin-bottom: 0.35rem;
		}
	}

	// == List links
	&__link {
		position: relative;
		font-size: 16px;

		@include media(">=ipad") {
			//font-size: pxToRem(18, 16);
		}

		@include media(">=ls") {
			font-size: pxToRem(20, 18);
		}

		&::before {
			@include make-pseudo-position(absolute, '');
			top: pxToRem(8, 14);
			left: -6px;
			opacity: 0;
			border-style: solid;
			border-width: pxToRem(2, 18) pxToRem(2, 18) 0 0;
			height: pxToRem(8, 14);
			width: pxToRem(8, 14);
			transform: rotate(45deg) translateY(-50%);
			@include transition(all 350ms ceaser($easeInOutSine));

			@include media('>=ipad') {
				top: pxToRem(10, 18);
				height: pxToRem(10, 18);
				width: pxToRem(10, 18);
			}

			@include media('>=ds') {
				top: pxToRem(12, 18);
				height: pxToRem(9, 18);
				width: pxToRem(9, 18);
			}
		}
	}

	// == Inline list
	&--inline {
		display: flex;
		flex-wrap: wrap;
		margin-right: -15px;
		margin-left: -15px;

		>li, .lists__item {
			padding-right: 15px;
			padding-left: 15px;
		}
	}

	// == Decorated
	&--underlined {
		>li, .lists__item {
			border-bottom: 1px solid $brand-gray;
		}
	}

	// == Arrowed
	&--arrow {
		> li, > .lists__item {
			&:not(:last-of-type) {
				margin-bottom: pxToRem(5, 18);
			}
		}

		.lists__link {
			padding-left: pxToRem(22, 18);
			color: $brand-primary;

			&::before {
				opacity: 1;
			}
		}
	}

	// States modifiers

	&__item.is-active {
		.lists__link {
			padding-left: pxToRem(22, 18);
			color: $brand-primary;

			&::before {
				opacity: 1;
			}
		}
	}
}

.lists {
	// Appearances
	&--dark {
		.lists__link {
			color: $brand-dark-gray;

			&:hover {
				color: $brand-primary;
			}
		}
	}

	&--light {
		.lists__link {
			color: $brand-faded;

			&:hover {
				color: darken($brand-faded, 7%) !important;
			}
		}
	}

	&-faded {
		.lists__link {
			color: #c3c3c3;

			&:hover {
				color: darken(#c3c3c3, 7%) !important;
			}
		}
	}
}

/* ============= Social media list ============= */

.social-media-xs-lg {
	font-size: pxToRem(18, 14);

	@include media(">=ipad") {
		font-size: inherit;
	}
}

.social-media__list {
	position: relative;
	line-height: 1;
}

.social-media__list--inline {
	display: flex;
	align-items: center;
	margin-right: pxToRem(-17, 18);
	margin-left: pxToRem(-17, 18);

	.social-media__item {
		padding-right: pxToRem(17, 18);
		padding-left: pxToRem(17, 18);
	}
}

.social-media__list--inline-compact {
	margin-right: pxToRem(-12, 18);
	margin-left: pxToRem(-12, 18);

	.social-media__item {
		padding-right: pxToRem(12, 18);
		padding-left: pxToRem(12, 18);
	}
}

.social-media__link {
	display: block;
	color: inherit;

	&:hover {
		opacity: 0.75;
		color: inherit;
	}
}

// == Social media brand identity
$social_media_list: facebook twitter instagram youtube pinterest;
$social_media_list_color: $facebook-color $twitter-color $instagram-color $youtube-color $pinterest-color;

@for $i from 1 through length($social_media_list) {
	.social-media__link--#{nth($social_media_list ,$i)} {
		&:hover {
			opacity: 1;

			.shape-circle {
				background: nth($social_media_list_color, $i);
				color: $brand-white;
			}
		}
	}
}