/*
** @partial: _scroll-top.scss
*/

/*================ Scroll top styles ================*/

.scroll-top {
	position: fixed;
	left: 15px;
	bottom: 15px;
	z-index: $zindex-normal + 10;
	pointer-events: none;
	opacity: 0;
	transform: translateY(50px);
	@include transition(all $transition_delay_default ceaser($easeInOutSine));

	&.is-shown {
		pointer-events: auto;
		opacity: 1;
		transform: translateY(0px);
	}
}
