/**
* @partial: _tab.scss
*/

// TAB list style
.tab-list {
	display: flex;
	align-items: center;
	border-bottom: 1px solid $gray-light;
}

// TAB list item style
.tab-list__item {
	margin-bottom: -1px;

	&:not(:last-of-type) {
		.tab-list__link {
			border-right: 1px solid $gray-light;
		}
	}

	&:first-of-type {
		&.active {
			.tab-list__link {
				border-left-color: transparent;
			}
		}
	}

	&.active {
		.tab-list__link {
			border: 1px solid $gray-light;
			border-bottom-color: transparent;
			border-left-color: transparent;

			.bg-faded & {
				border-bottom-color: $brand-faded;
			}

			.bg-white & {
				border-bottom-color: $brand-white;
			}
		}
	}
}

// TAB list link style
.tab-list__link {
	display: block;
	padding: pxToRem(15, 14) pxToRem(45, 14);
	border: 1px solid transparent;
	font-family: $font-family-base;
	color: $brand-dark-gray;
	font-size: pxToRem(16, 14);
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;

	@include media(">=ipad") {
		padding: 15px 58px;
		font-size: 1rem;
		//width: 215px;
	}

	&:hover {
		color: $brand-dark-gray;
	}
}

// TAB content style
.tab__pane {
	// Tab panel

	&:not(:last-of-type) {
		margin-bottom: pxToRem(15, 14);
	}

	@include media(">sm") {
		&:not(:last-of-type) {
			margin-bottom: 0;
		}
	}

	@include media(">sm") {
		display: none;

		// Panel inner
		.accordion-panel {
			//@include make-default-position(absolute);
			opacity: 0;
			pointer-events: none;
			transform: translateY(-10px);
			@include transition(all $transition_delay_default ceaser($easeInOutSine));
		}

		// Active panel
		&.active-pane {
			display: block;			
		}

		// Animated panel
		&.animate {
			// Panel inner
			.accordion-panel {
				opacity: 1;
				pointer-events: auto;
				transform: translateY(0px);
			}
		}			
	}

	.active {
		.accordion-panel__collapse {
			display: block;
		}
	}

	// Accordion inside tab
	.accordion-panel__collapse {
		display: none;
		@include media(">sm") {
			display: block !important;
		}		
	}

	// Accordion panel body
	.accordion-panel__body {
		padding: pxToRem(25, 14) pxToRem(20, 14) pxToRem(10, 14);

		@include media(">=ipad") {
			padding: pxToRem(43, 18) pxToRem(20, 18) 0;
		}
	}
}