/*
** @cms table module - reusable
*/

// Default table styles

.table-container table,
.table {
	table-layout: fixed;
	line-height: 1.3;

	&:not(:first-child) {
		margin-top: pxToRem(25, 14);

		@include media(">=ipad") {
			margin-top: pxToRem(30, 18);
		}
	}

	&:not(:last-child) {
		margin-bottom: pxToRem(25, 14);

		@include media(">=ipad") {
			margin-bottom: pxToRem(30, 18);
		}
	}

	// Responsive table
	&--responsive {
		width: 100%;
	}

	// Table heading styles
	th {
		background-color: $brand-secondary;
		color: $brand-white;
		letter-spacing: 0.15rem;

		&:not(:last-child) {
			@include media(">sm") {
				border-right: 1px solid $table-border-color;
			}
		}

		h4 {
			margin-bottom: 0;
			color: $brand-white;
		}

		@include media(">sm") {
			width: 33.33333%;
		}
	}

	// Table cell styles
	td {
		color: $brand-secondary;

		@include media(">sm") {
			width: 33.33333%;
		}
	}

	// Th and td common styles
	th, td {
		padding: pxToRem(12, 14) pxToRem(15, 14);

		@include media(">=ipad") {
			padding: pxToRem(14, 18) pxToRem(15, 18);
		}
	}

	// Breaing heading and table cell into new lines in smaller screens
	// Make responsive table by hiding table heading in mobile
	@include media("<=sm") {
		display: block;

		thead th {
			display: none;
		}

		tbody, tr, td {
			display: block;			
		}

		tbody {
			td {
				position: relative;
				text-align: right;

				&::before {					
					content: attr(data-th-title)':';
					display: block;
					padding-right: pxToRem(10, 14);
					float: left;
				}
			}
		}
	}

	// Make responsive table by hiding table heading in mobile
	@include media("<=400px") {
		tbody {
			td {
				text-align: left;
				&::before {
					margin-bottom: pxToRem(5, 14);
					float: none;
				}
			}
		}
	}
}

// Striped table styles
.table--striped {
	tr {
		&:nth-child(odd) {
			background-color: $brand-white;
		}

		&:nth-child(even) {
			background-color: $brand-faded;
		}

		td {
			&:not(:last-child) {
				border-bottom: 1px solid $table-border-color;
				@include media(">sm") {
					border-right: 1px solid $table-border-color;
					border-bottom: 1px solid transparent;
				}
			}
		}
	}	

	// Break heading and table cell into 2 different lines
	// @include media("<=xs") {
	// 	tbody {
	// 		td {
	// 			text-align: left;
	// 			&::before {
	// 				float: none;
	// 			}
	// 		}
	// 	}
	// }
}

// Bordered table styles
.table--bordered {
	tbody {
		tr {
			td {
				color: $brand-dark;

				@include media("<=sm") {
					padding-right: 0;
					padding-left: 0;

					&:not(:last-child) {
						border-bottom: 1px solid $table-border-color;
					}
				}

				&:first-child {
					@include media('>sm') {
						padding-left: 0;
					}
				}

				&:last-child {
					@include media('>sm') {
						padding-right: 0;
					}
				}

				&:not(:last-child) {
					@include media(">sm") {
						border-right: 1px solid $table-border-color;
					}	
				}
			}

			&:not(:last-of-type) {
				@include media(">sm") {
					td {
						border-bottom: 1px solid $table-border-color;
					}
				}
			}
		}		
	}
}