/**
* @partial: _utilities.scss
* @desc: import utilities modules partials
*/

@import "helpers";
@import "section-spaces";
@import "breadcrumb";
@import "scroll-top";
@import "lists";
@import "icons";
@import "form-utilities";
@import "line-bars";
@import "accordion";
@import "pagination";
@import "tab";
@import "table";
@import "shapes";
@import "grayscale-filter";
@import "wp-overrides";

// == Filter loader
// ##

#loading-image img {
    width: 120px;
}

// == zindex-front
// ##

.zindex-front {
    z-index: $zindex-normal !important;
}