/*
** @partial: _swiper.scss
*/

// == Swiper container

.swiper-container {
	opacity: 0;
	visibility: hidden;
	@include transition(all $transition_delay_default ceaser($easeInOutSine));

	&.swiper-initialized {
		opacity: 1;
		visibility: visible;
	}
}

.swiper-slide {
	opacity: 0;
	@include transition(opacity $transition_delay_slow ceaser($easeInOutSine));

	&.swiper-slide-active,
	&.is-active-carousel-slide {
		opacity: 1;
	}
}

.counter-carousel .swiper-slide {
	@include transition(opacity $transition_delay_slow + 1000 ceaser($easeInOutSine));
}

// == Counter sliders

.counter-controls {
	position: absolute;
	bottom: pxToRem(28, 18);
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: pxToRem(20, 14);
	width: 90px;
	@include transition(all $transition_delay_default ceaser($easeInOutSine));

	.content-loaded & {
		opacity: 1;
	}

	@include media(">=ipad") {
		height: pxToRem(30, 18);
	}

	&.top-right {
		top: pxToRem(-60, 14);
		right: 0;
		bottom: auto;
		color: $brand-dark-gray;
		width: 105px;

		@include media(">sm") {
			top: pxToRem(-100, 18);
		}
	}

	&.bottom {
		bottom: 0;
	}

	.swiper-button-next,
	.swiper-button-prev {
		top: 50%;
		margin: 0;
		height: auto;
		width: auto;
		line-height: 1;
		transform: translateY(-50%);
	}

	.swiper-button-next {
		right: 0;
	}

	.swiper-button-prev {
		left: 0;
	}

	.icon {
		font-size: 16px;
	}
}

.counter-controls--static {
	position: relative;
	top: auto;
	bottom: auto;
}

// == Static counter control
.counter-slider__count {
	position: relative;
	overflow: hidden;
	font-size: 16px;
	font-weight: 600;
}

// == Counter carousel
.counter-carousel-parent {
	position: relative;

	.current-slide-node {
		color: $brand-black;
	}
}

.counter-carousel .counter-slider__item {
	border-right: 1px solid $gray-light;

	&:last-of-type {
		border-right: 0 !important;
	}

	@include media("<=xs") {
		&:nth-of-type(3n) {
			border-right: 0;
		}
	}

	@include media("<=sm", ">xs") {
		&:nth-of-type(4n) {
			border-right: 0;
		}
	}

	@include media(">sm") {
		&:nth-of-type(6n) {
			border-right: 0;
		}
	}
}