/**
 * Make commonly used mixins
 */

/* Build mixin for selection feature */
$prefixes: ("-moz-", "");
@mixin selection($bkg: $brand-primary, $color: $brand-white) {
  @each $prefix in $prefixes {
    ::#{$prefix}selection {
      background: $bkg;
      color: $color;
    }
  }
}

/* Build mixin for form element's placeholders */
@mixin placeholder($selector, $color, $font-size, $font-family, $case) {
  #{$selector}::-webkit-input-placeholder {
    color: $color;
    font-size: $font-size;
    font-family: $font-family;
    text-transform: $case;
  }
  #{$selector}::-moz-placeholder {
    color: $color;
    font-size: $font-size;
    font-family: $font-family;
    text-transform: $case;
  }
  #{$selector}:-ms-input-placeholder {
    color: $color;
    font-size: $font-size;
    font-family: $font-family;
    text-transform: $case;
  }
  #{$selector}:-moz-placeholder {
    color: $color;
    font-size: $font-size;
    font-family: $font-family;
    text-transform: $case;
  }
}

/* Make absolutely positioned element mixin */

@mixin make-pseudo-position($pos, $full) {
  position: $pos;
  content: "";
  @if $full == "full" {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  @content;
}

@mixin make-position($pos) {
  position: $pos;  
  @content;
}

@mixin make-full-position($pos) {
  position: $pos;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  @content;
}

/* Make mixin for background image properties */
@mixin make-bkg-image($repeat: no-repeat, $position: center center, $size: cover) {
  background: {
    repeat: $repeat !important;
    position: $position !important;
    size: $size !important;
  };
  @content;
}

// Debug style
@mixin debug($color:$brand-primary){
  &, & *{
     outline: 1px solid $color;
  }
}