/*
** @Bootstrap form module overwrite
*/

/* Fix chrome's autofill input filed issue */
input:-webkit-autofill {
	-webkit-text-fill-color: $brand-black !important;
    -webkit-box-shadow: 0 0 0 1000px $brand-white inset !important;
}

button {
	background-color: transparent;
	border: 0;
}

/* Include placeholder mixin */
@include placeholder('.form-control', $brand-secondary, '', $font-family-base, 'initial');
@include placeholder('.form-control.error', $brand-danger, '', $font-family-base, 'initial');

// Hide custom checkboxes, radio boxex, select
//input[type="checkbox"],
//input[type="radio"] {
//	display: none !important;
//}

.form-group-lg {
	margin-bottom: pxToRem(30, 18);
}

.form-control {
	@include media("<=sm") {
		padding-right: pxToRem(15, 14);
		padding-left: pxToRem(15, 14);
	}
}

select {
	.notTouchDevice & {
		display: none !important;
	}

	.isTouchDevice & {
		background-color: transparent !important;
		// color: $brand-secondary !important;
		-webkit-appearance: none;
		appearance: none;
		background-image: url(#{$img_path}down-chev.svg);
		background-position: calc(100% - 15px) center;
		background-repeat: no-repeat;
		background-size: 14px;
		height: auto !important;
	}
}