/*
** Import font family partials
*/
@import "fonts.scss";

// == Importing typo related @mixin from mixin folder
@import '../mixins/type';

// == Executing different typo related @mixins

// == Typo weights mixins
$fw_list: l, r, m, sb, b;
$fw_val: 300, 400, 500, 600, bold;

@include make_font_weights($fw_list, $fw_val);

// == Typo families mixins
$ff_list: lato, playfair, raleway;
$ff_val: $font-family-primary, $font-family-alt, $font-family-secondary;

@include make_font_families($ff_list, $ff_val);

/* Typo related stuffs */

b, strong {
	font-weight: 600;
}

// == Para tag
p,
.para,
address {
	&:last-child {
		margin-bottom: 0;
	}
}

address {
	font-size: 16px;
	@include media(">=ls") {
		font-size: pxToRem(20, 18);
	}
}

// == blockquote :: bootstrap override
.blockquote, blockquote {
	padding: 0 0;
	font-family: $font-family-alt !important;
	font-size: pxToRem(16, 14);
	line-height: 1.5;

	@include media(">sm") {
		font-size: 18px;
	}

	&:last-of-type {
		margin-bottom: 0;
	}
}

.text-normal {
	text-transform: unset;
}

// == heading tags
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0 0;
}

h1, .h1 {
	margin-bottom: pxToRem(15, 14);
	font-family: $font-family-secondary;
	font-weight: 300;
	text-transform: unset;

	@include media("<=sm") {
		font-size: 2.143rem;
	}

	@include media(">=ipad") {
		margin-bottom: pxToRem(20, 16);
	}

	@include media("<ipad", ">sm") {
		font-size: 3rem;
	}
}

h2, .h2 {
	margin-bottom: pxToRem(25, 14);//~1.667rem;
	font-family: $font-family-secondary;
	font-weight: 300;
	line-height: 1.113;

	@include media("<ls") {
		font-size: pxToRem(40, 16);
	}

	@include media("<ipad") {
		font-size: pxToRem(30, 14);
	}

	@include media(">=ipad") {
		margin-bottom: 40px;
	}
}

h3, .h3 {
	margin-bottom: pxToRem(25, 14);
	font-weight: 300;
	// @include media("<ipad") {
	// 	font-size: 1.286rem;
	// }

	@include media("<ipad") {
		font-size: pxToRem(24, 14);
	}

	@include media(">=ipad") {
		margin-bottom: 26px;
	}
}

h4, .h4 {
	margin-bottom: 20px;
	text-transform: uppercase;

	@include media("<ls") {
		font-size: pxToRem(18, 16);
	}

	@include media("<ipad") {
		font-size: pxToRem(16, 14);
	}
}

h5, .h5 {
	margin-bottom: 0.5rem;
}

h6, .h6 {
	margin-bottom: 0.25rem;
}

// == Typo related stuffs

.text-lg {
	font-size: $font-size-lg;
}