/*
** @partial: _fonts.scss
*/

// Importing ont faces from local directory

@font-face {
    font-family: 'Karla';
    src: url('#{$font_path}webfonts/Karla-BoldItalic.eot');
    src: url('#{$font_path}webfonts/Karla-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$font_path}webfonts/Karla-BoldItalic.woff') format('woff'),
        url('#{$font_path}webfonts/Karla-BoldItalic.ttf') format('truetype'),
        url('#{$font_path}webfonts/Karla-BoldItalic.svg#Karla-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Karla';
    src: url('#{$font_path}webfonts/Karla-Regular.eot');
    src: url('#{$font_path}webfonts/Karla-Regular.eot?#iefix') format('embedded-opentype'),
        url('#{$font_path}webfonts/Karla-Regular.woff') format('woff'),
        url('#{$font_path}webfonts/Karla-Regular.ttf') format('truetype'),
        url('#{$font_path}webfonts/Karla-Regular.svg#Karla-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: url('#{$font_path}webfonts/Karla-Italic.eot');
    src: url('#{$font_path}webfonts/Karla-Italic.eot?#iefix') format('embedded-opentype'),
        url('#{$font_path}webfonts/Karla-Italic.woff') format('woff'),
        url('#{$font_path}webfonts/Karla-Italic.ttf') format('truetype'),
        url('#{$font_path}webfonts/Karla-Italic.svg#Karla-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Karla';
    src: url('#{$font_path}webfonts/Karla-Bold.eot');
    src: url('#{$font_path}webfonts/Karla-Bold.eot?#iefix') format('embedded-opentype'),
        url('#{$font_path}webfonts/Karla-Bold.woff') format('woff'),
        url('#{$font_path}webfonts/Karla-Bold.ttf') format('truetype'),
        url('#{$font_path}webfonts/Karla-Bold.svg#Karla-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'FS Siena';
    src: url('#{$font_path}webfonts/FSSiena-Light.eot');
    src: url('#{$font_path}webfonts/FSSiena-Light.eot?#iefix') format('embedded-opentype'),
        url('#{$font_path}webfonts/FSSiena-Light.woff') format('woff'),
        url('#{$font_path}webfonts/FSSiena-Light.ttf') format('truetype'),
        url('#{$font_path}webfonts/FSSiena-Light.svg#FSSiena-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'FS Siena';
    src: url('#{$font_path}webfonts/FSSiena-Regular.eot');
    src: url('#{$font_path}webfonts/FSSiena-Regular.eot?#iefix') format('embedded-opentype'),
        url('#{$font_path}webfonts/FSSiena-Regular.woff') format('woff'),
        url('#{$font_path}webfonts/FSSiena-Regular.ttf') format('truetype'),
        url('#{$font_path}webfonts/FSSiena-Regular.svg#FSSiena-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FS Siena';
    src: url('#{$font_path}webfonts/FSSiena-SemiBold.eot');
    src: url('#{$font_path}webfonts/FSSiena-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('#{$font_path}webfonts/FSSiena-SemiBold.woff') format('woff'),
        url('#{$font_path}webfonts/FSSiena-SemiBold.ttf') format('truetype'),
        url('#{$font_path}webfonts/FSSiena-SemiBold.svg#FSSiena-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'FS Siena';
    src: url('#{$font_path}webfonts/FSSiena-Bold.eot');
    src: url('#{$font_path}webfonts/FSSiena-Bold.eot?#iefix') format('embedded-opentype'),
        url('#{$font_path}webfonts/FSSiena-Bold.woff') format('woff'),
        url('#{$font_path}webfonts/FSSiena-Bold.ttf') format('truetype'),
        url('#{$font_path}webfonts/FSSiena-Bold.svg#FSSiena-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}