/*
** Variables collection
*/

// Usage of ceaser($easeInOutQuad)
// transition: all ceaser($easeInOutQuint) 0.35s;
// @include transition(all $transition_delay_default ceaser($easeInOutSine));
// box-shadow: 0px 10px 40px 0px rgba(148,146,245,0.2);

// == PATH VARIABLES
$img_path: '../images/';
$content: '../../contents/';
$svg_path: '../svg/';
$font_path: '../fonts/';

// == Variables to be used for header
$header_height: 80;
$header_height_lg: 130;

// == Box shadow
$box_shadow: 0px 0px 0px 0px rgba(0,0,0,0.01), 0 5px 32px 10px rgba(0,0,0,0.05);
$brand_box_shadow: 7px 5px 30px 0px rgba(0, 0, 0, 0.07);
$entry_card_box_shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.1);

// == Translate value
$translate_val: 15px;

// == Submenu arrow dimension
$chev_size: 20;

// == Transition delay default value
$transition_delay_default: 350ms;
$transition_delay_slow: 500ms;

// == COLOR SCHEMA

// == Bootstrap color varaibles
$primary: #27c2dc;
$secondary: #37424a;
$success: #0dace2;
$info: #02d3a6;
$warning: #960A0A;
$danger: #e02146;

// == Below variables are retained from bootstrap's 4.0 alpha release. Now they have change default brand variables to simply brand, success etc. But we our code base has used below color variables.

$brand-primary: $primary;
$brand-primary-alt: #00a1de;
$brand-secondary: $secondary;
$brand-success: $success;
$brand-info: $info;
$brand-warning: $warning;
$brand-danger: $danger;
$brand-faded: #f8f8f8;

// == Gradient colors
$primary_gradient_start: rgb(20, 178, 223);
$primary_gradient_end: rgb(50, 203, 217);
$secondary_gradient_start: rgb(60, 71, 80);
$secondary_gradient_end: rgb(91, 105, 115);
$success_gradient_start: rgb(21, 175, 227);
$success_gradient_end: rgb(72, 192, 232);
$info_gradient_start: rgb(7, 214, 169);
$info_gradient_end: rgb(35, 233, 190);
$warning_gradient_start: rgb(154, 15, 15);
$warning_gradient_end: rgb(178, 46, 46);
$danger_gradient_start: rgb(227, 39, 75);
$danger_gradient_end: rgb(244, 75, 108);

// == Custom color variables

$brand-white: #ffffff;
$brand-black: #37424a;
$brand-dark: #000000;
$brand-gray: #77787b;
$brand-dark-gray: #7a7a7a;
$brand-gray-light: #eeeceb;
$brand-gray-mid: #dddad9;
$gray-light: #c3c3c3;
$tab-link-bg-color: #f1f1f1;
$table-border-color: $gray-light;
$brand-yellow: #EB8D3E;
$dark: $brand-dark;
$menu_link_sticky_color: #4f5b60;
$form-success-color: $info;

// == Custom form fields
$input-default-color: #d7dcde;
$input-selected-color: #565656;

// == Social media brand color
$facebook-color: #3b5998;
$twitter-color: #1da1f2;
$instagram-color: #2A2A2A;
$youtube-color: #ff0000;
$pinterest-color: #bd081c;

// == Variables to generate class with respective colors
$brand_class_list: primary, secondary, success, info, warning, danger, dark, faded;
$brand_color_list: $primary, $secondary, $success, $info, $warning, $danger, $brand-dark, $gray-light;
$brand_size_class_list: xs sm md lg xl xlg;
$brand_size_val_list: pxToRem(10, 18) pxToRem(14, 18) pxToRem(24, 18) pxToRem(44, 18) pxToRem(50, 18) pxToRem(105, 18);

// == STACK UTILITIES
$zindex-neg: -1;
$zindex-low: 0;
$zindex-normal: 1;
$zindex-high: 2;
$zindex-super: 1000;

// == FONT WEIGHTS
$font-wt: 300;
$font-wr: 400;
$font-wm: 500;
$font-wb: 700;

// == Bootstrap variables - overriding

// Body
//
// Settings for the `<body>` element.

$body-bg: $brand-faded;

//== Scaffolding
//
//## Settings for some of the most global styles.

//** Global text color on `<body>`.
$text-color: $brand-black;
$text-muted: $brand-dark-gray;
$body-color: $brand-black;

//** Global textual link color.
$link-color: $brand-primary;
//** Link hover color set via `darken()` function.
$link-hover-color: darken($brand-primary, 5%);
//** Link hover decoration.
$link-hover-decoration: none;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
$font-family-primary: "Lato", sans-serif;
$font-family-secondary: "Raleway", sans-serif;
$font-family-alt: "Playfair Display", sans-serif;
$font-family-base: $font-family-primary;

//$font-size-base: pxToRem(18, 16);

// == heading font sizes
$h1-font-size: pxToRem(45, 18); //~45px
$h2-font-size: pxToRem(45, 18); //~45px
$h3-font-size: pxToRem(35, 18); //~35px
$h4-font-size: pxToRem(20, 18); //~20px
$h5-font-size: pxToRem(18, 18); //~18px
$h6-font-size: pxToRem(14, 18); //~14px
$font-size-lg: pxToRem(20, 18); //~20px with reference to 18px base font size

//** Unit-less `line-height` for use in components like buttons.
$line-height-base: 1.5; // 24/16  ====> 1.428571429; // 20/14

//** By default, this inherits from the `<body>`.
$headings-font-family: $font-family-primary;
$headings-font-weight: 400;
$headings-line-height: 1.2;

$small-font-size: 75%;

/*
** ========== 	These bootstraps variables should need to be converted in rem from px to avoid 'rem to px' conversion error
*/

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
	xs: 0,
	sm: 768px,
	md: 1024px,
	lg: 1200px,
	xl: 1440px
);

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
	xs: 1200px
);

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-rounded: false;
$enable-gradients: false;
$enable-shadows: false;

// Forms

$input-line-height: 1;
$input-padding-x: pxToRem(40, 18);
$input-padding-y: pxToRem(20, 18);
$input-height: pxToRem(60, 18);

$input-color: $brand-secondary;
$input-color-focus: $brand-primary;
$input-bg-focus: transparent;
$input-border-focus: $brand-primary;
$input-border-color: #adadaf;
$form-group-margin-bottom: pxToRem(7, 18);
$input-bg: transparent;

$input-box-shadow: none;
$input-focus-box-shadow: none;
$input-focus-border-color: $brand-primary;

// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

$btn-padding-y: pxToRem(21, 18);
$btn-padding-x: pxToRem(40, 18);
$btn-line-height: 1;
$btn-border-width: 0;
$btn-focus-box-shadow: none;
$btn-font-weight: 600;

//$btn-padding-y-sm:            $input-btn-padding-y-sm;
//$btn-padding-x-sm:            $input-btn-padding-x-sm;
//$btn-line-height-sm:          $input-btn-line-height-sm;
//
//$btn-padding-y-lg:            $input-btn-padding-y-lg;
//$btn-padding-x-lg:            $input-btn-padding-x-lg;
//$btn-line-height-lg:          $input-btn-line-height-lg;

// Dropdowns
//
// Dropdown menu container and contents.
$dropdown-padding-y: 0;
$dropdown-border-width: 0;
$dropdown-border-colo: transparent;
$dropdown-link-hover-color: $brand-white;
$dropdown-link-hover-bg: $primary;
$dropdown-item-padding-x: 0;
$dropdown-item-padding-y: 0;
$zindex-dropdown-backdrop: -1;
$dropdown-spacer: 0;//~pxToRem(15, 18);
$dropdown-link-hover-bg: transparent;

// == Blockquote
$blockquote-font-size: 2.188rem;
$blockquote-border-width: 0;

// == Light gallery variables
$lg-border-lg: 0px;
$lg-border-color: $brand-white;

// == Enable only required animations from animate sass file

$use-fadeIn: true;
$use-fadeInUp: true;
$use-fadeInDown: true;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem;
$spacers: ();
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
	(
		0: 0,
		1: ($spacer * .25),
		2: ($spacer * .5),
		3: $spacer,
		4: ($spacer * 1.7), //~1.7
		5: ($spacer * 2.5),
		6: ($spacer * 3.5),
		7: ($spacer * 4),
		8: ($spacer * 4.5),
		9: ($spacer * 5)
	),
	$spacers
);