/**
 * Adding new type of background colors
 */

// == Loop through list of the brand color to generate background variants
@for $i from 1 through length($brand_class_list) {
	.bg-transparent-#{nth($brand_class_list, $i)} {
		background: transparentize(nth($brand_color_list, $i), 0.33) !important;
	}
}

// == Make gradient background
//@for $i from 1 through length($brand_class_list) {
//	.bg-gradient-#{nth($brand_class_list, $i)} {
//		background: linear-gradient(to bottom, $primary_gradient_start 30%, $primary_gradient_end 100%);
//		color: $brand-white;
//	}
//}

.bg-gradient-primary {
	background: linear-gradient(to bottom, $primary_gradient_start 30%, $primary_gradient_end 100%);
	color: $brand-white;
}