/**
* @partial: _buttons.scss
*/

$btn-transition: all ceaser($easeInOutQuad) 0.35s;

// == Button styles
.btn {
	font-size: 14px;
	text-transform: uppercase;

	@include media("<ipad") {
		padding-right: 20px;
		padding-left: 20px;
	}

	@include media(">=ls") {
		font-size: pxToRem(16, 18);
	}
}

// == Make gradient buttons
@for $i from 1 through length($brand_class_list) {
	.btn-gradient-#{nth($brand_class_list, $i)} {
		position: relative;
		z-index: $zindex-normal;
		background-size: 100%;
		box-shadow: $brand_box_shadow;
		color: $brand-white;

		@include media(">=ls") {
			min-width: pxToRem(305, 18);
		}

		&:before {
			@include make-pseudo-position(absolute, full);
			content: '';
			opacity: 0;
			z-index: $zindex-neg;
			background-image: linear-gradient(to bottom, $primary_gradient_end 0%, $primary_gradient_start 100%);
			width: 100%;
			transition: opacity ceaser($easeInOutQuad) 0.35s;
		}

		@if nth($brand_class_list, $i) == 'primary' {
			background: linear-gradient(to bottom, $primary_gradient_start 0%, $primary_gradient_end 100%);
			&:before {
				background-image: linear-gradient(to bottom, $primary_gradient_end 0%, $primary_gradient_start 100%);
			}
		} @else if nth($brand_class_list, $i) == 'secondary' {
			background: linear-gradient(to bottom, $secondary_gradient_start 0%, $secondary_gradient_end 100%);
			&:before {
				background: linear-gradient(to bottom, $secondary_gradient_end 0%, $secondary_gradient_start 100%);
			}
		} @else if nth($brand_class_list, $i) == 'success' {
			background: linear-gradient(to bottom, $success_gradient_start 0%, $success_gradient_end 100%);
			&:before {
				background: linear-gradient(to bottom, $success_gradient_end 0%, $success_gradient_start 100%);
			}
		} @else if nth($brand_class_list, $i) == 'info' {
			background: linear-gradient(to bottom, $info_gradient_start 0%, $info_gradient_end 100%);
			&:before {
				background: linear-gradient(to bottom, $info_gradient_end 0%, $info_gradient_start 100%);
			}
		} @else if nth($brand_class_list, $i) == 'warning' {
			background: linear-gradient(to bottom, $warning_gradient_start 0%, $warning_gradient_end 100%);
			&:before {
				background: linear-gradient(to bottom, $warning_gradient_end 0%, $warning_gradient_start 100%);
			}
		} @else if nth($brand_class_list, $i) == 'danger' {
			background: linear-gradient(to bottom, $danger_gradient_start 0%, $danger_gradient_end 100%);
			&:before {
				background: linear-gradient(to bottom, $danger_gradient_end 0%, $danger_gradient_start 100%);
			}
		}

		&:hover {
			color: $brand-white;

			&::before {
				opacity: 1;
			}
		}
	}
}

// == Btn links
.btn-link {
	display: inline-block;
	font-size: pxToRem(18, 18);
	vertical-align: top;

	@for $i from 1 through length($brand_class_list) {
		&-#{nth($brand_class_list, $i)} {
			color: nth($brand_color_list, $i);

			&:hover,
			&:focus {
				color: darken(nth($brand_color_list, $i), 7%);
			}
		}
	}
}