/**
 * Bootstrap's dropdown component override
 */

// == Dropdown

.dropdown-toggle.has-no-caret {
	&::after {
		display: none;
	}
}

.dropdown-menu {
	pointer-events: none;
	opacity: 0;
	display: block;
	visibility: hidden;
	transform: translateY(-$translate_val);
	@include transition(all 350ms ceaser($easeInOutSine));

	.show & {
		pointer-events: auto;
		opacity: 1;
		visibility: visible;
		box-shadow: $box_shadow;
		transform: translateY(0);
	}

	&::before {
		position: absolute;
		top: pxToRem(-10, 18);
		left: 50%;
		content: "";
		border-left: pxToRem(10, 18) solid transparent;
		border-right: pxToRem(10, 18) solid transparent;
		border-bottom: pxToRem(10, 18) solid $brand-white;
		height: 0;
		width: 0;
		transform: translateX(-50%);
	}
}

.dropdown-item {
	background: none !important;
	&:not(last-of-type) {
		border-bottom: 1px solid $brand-gray-light;
	}
}

.dropdown-link {
	padding: pxToRem(15, 18);
	color: inherit;
}