/*
** Layout module
*/

// == Site outer wrapper
.site-outer {
	position: relative;
	overflow-x: hidden;
	margin-right: auto;
	margin-left: auto;
	min-height: 100%;
	padding-top: pxToRem(70, 14);
	max-width: pxToRem(1920, 18); //~1920px;

	@include media(">=ipad") {
		padding-top: pxToRem($header_height - 10, 16);
	}

	@include media(">=ls") {
		padding-top: pxToRem($header_height, 18);

		.home & {
			padding-top: 0;
		}
	}
}

// == Container variants
.container--lg {
	max-width: 1635px;
}

// == Make full width layout
.is-extended-full {
	margin-right: -15px;
	margin-left: -15px;
	@include media(">sm") {
		width: 100vw;
		margin-left: calc(50% - 50vw);

		.notTouchDevice & {
			//margin-left: calc(50% - 50vw - 8px);
		}
	}
}

.is-extended {
	margin-right: -15px;
	margin-left: -15px;
	padding-right: 15px;
	padding-left: 15px;
	@include media(">=1170px") {
		margin-right: -23.438rem; //~-20.834rem = 1920px
		margin-left: -23.438rem;
		padding-right: 23.438rem;
		padding-left: 23.438rem;
	}
}

.is-xs-extended {
	@include media("<=sm") {
		margin-right: -15px;
		margin-left: -15px;
	}
}