/**
 * Common utilities
 */

// Remove arrow from select in IE
select::-ms-expand {
    display: none;
}

// Shadow
.is-shadowed {
	box-shadow: $brand_box_shadow !important;
}

// overflow
.overflow-visible {
	overflow: visible !important;
}

.overflow-hidden {
	overflow: hidden !important;
}

// Full width image
.img-full {
	width: 100%;
}

.img-xs-full {
	@include media("<=sm") {
		width: 100%;
	}
}

// Cover image
.has-cover {
	@include make-bkg-image(no-repeat, center center, cover);
}

// mask overlay
.has-mask {
	position: relative;
	overflow: hidden;
	@include make-pseudo-position(absolute, full);
	background-color: transparentize(darken($brand-dark, 100%), 0.75);
	@include transition(all $transition_delay_default ceaser($easeInOutSine));
}

.has-gradient-mask {
	position: relative;
	overflow: hidden;

	&::before,
	&::after {
		@include make-pseudo-position(absolute, full);
		background-image: linear-gradient(to bottom, transparent 70%, rgba(#03d3a6, 0.3) 100%);
		@include transition(all $transition_delay_default ceaser($easeInOutSine));
	}

	&::before {
		background-image: linear-gradient(to bottom, rgba($primary_gradient_start, 0.40) 0%, rgba($primary_gradient_end, 0.35) 100%);
	}
}

// Animate image :: kenBurns
@keyframes kenBurns {
	0% {transform: scale(1); }
	100% {transform: scale(1.1); }
}

.zoom-effect-holder {
	position: relative;
	overflow: hidden;
}

.zoom-effect {
	animation: kenBurns 12s ease alternate infinite; //~ 15s
	-webkit-animation: kenBurns 12s ease alternate infinite; //~ 15s
}

/* Link overlay style */
.link-stacked {
	@include make-pseudo-position(absolute, full);
	z-index: $zindex-normal;
}

// Off css transition if window is resizing
.resize-active {
	* {
		transition: none !important;
	}
}

/*
** Wow plugin animations 
*/

.wow {
	visibility: hidden;
}

// == Turn cursor into pointer
button, [role="button"] {
	cursor: pointer;
}

// == Background none in >sm = >767px
.bg-sm-none {
	@include media(">sm") {
		background: none !important;
	}
}

// == Menu opened
.no-scroll {
	@include media("<ls") {
		overflow: hidden !important;
	}

	.notTouchDevice & {
		padding-right: 17px;
	}
}