/**
* @partial: _cms.scss
*/

@import "custom-grids";
@import "lists-editor";
@import "map";

/* ================= Common css stuffs ================= */

@include media(">sm") {
	.text-widget {
		margin-left: auto;
		max-width: 335px;
	}

	// Address
	address {
		line-height: 1.73;
	}
}

.text-widget {
	a, a[href^="mailto:"] {
		color: inherit;

		&:hover {
			opacity: 0.65;
		}
	}
}

// == Address card

.address-card {
	.social-media {
		@include media(">sm") {
			position: absolute;
			bottom: pxToRem(38, 14);
		}

		@include media(">=ipad") {
			bottom: pxToRem(44, 16);
		}

		@include media(">=ds") {
			bottom: pxToRem(50, 18);
		}
	}
}