/**
 * Custom grids style rules
 */

/*================ CMS Intro module styles ================*/

$intro_col_lg_width: 66.05504587155964%;

@include media(">sm") {
	.intro-col--lg {
		flex: 0 0 $intro_col_lg_width;
		max-width: $intro_col_lg_width;
	}

	.intro-col--sm {
		flex: 0 0 100% - $intro_col_lg_width;
		max-width: 100% - $intro_col_lg_width;
	}
}

/* ============= Custom grid module ============= */

@include media("<=sm", ">xmd") {
	.col-xmd-6 {
		flex: 0 0 50%;
		max-width: 50%;
	}
}

/* =============== Custom grid with gutter variations ============== */

@include media(">=ipad") {
	.row-gutter-30 {
		margin-right: -30px;
		margin-left: -30px;

		> [class*="col-"] {
			padding-right: 30px;
			padding-left: 30px;
		}
	}

	.row-gutter-55 {
		margin-right: -55px;
		margin-left: -55px;

		> [class*="col-"] {
			padding-right: 55px;
			padding-left: 55px;
		}
	}
}

/* ============== Text container ============= */

.text-container {
	margin-right: auto;
	margin-left: auto;
	max-width: pxToRem(650, 18);
}