/**
* @partial: _lists-editor.scss
*/

.lists-editor {
	counter-reset: list-counter;

	&:not(:first-child) {
		margin-top: 30px;
	}

	&:not(:last-child) {
		margin-bottom: 30px;
	}

	> li {
		position: relative;
		padding-left: pxToRem(22, 18);

		&:not(:last-of-type) {
			margin-bottom: 3px;
		}

		&::before {
			@include make-pseudo-position(absolute, '');
			top: pxToRem(8, 14);
			left: -6px;
			border-style: solid;
			border-width: pxToRem(2, 18) pxToRem(2, 18) 0 0;
			color: $brand-dark-gray;
			height: pxToRem(8, 14);
			width: pxToRem(8, 14);
			transform: rotate(45deg) translateY(-50%);
			@include transition(all 350ms ceaser($easeInOutSine));

			@include media('>=ipad') {
				top: pxToRem(10, 18);
				height: pxToRem(10, 18);
				width: pxToRem(10, 18);
			}

			@include media('>=ds') {
				top: pxToRem(11, 18);
				height: pxToRem(9, 18);
				width: pxToRem(9, 18);
			}
		}

		> a {
			color: $brand-dark-gray;
		}

		&:hover {
			&::before,
			> a {
				color: $brand-primary;
			}
		}
	}

	// == Ordreded lists
	&--ordered {
		>li {
			&::before {
				top: auto;
				content: counter(list-counter);
				counter-increment: list-counter;
				border: 0;
			}
		}
	}
}