/*
** @form utilities reusable module
*/

/* Custom input types */
.custom-field__control {
	display: none;
	// Radio/Checkbox label
	+ label {
		&.has-label-text {
			padding-left: pxToRem(35, 18);
			height: auto !important;
    		width: auto !important;
		}

		&:not(.error) {
			position: relative;
			display: inline-block;
			margin-bottom: 0;
			color: $brand-dark;
			font-size: 1rem;
			font-family: $font-family-base;
			height: 1.25rem;
    		width: 1.25rem;
			line-height: 1.25;
			cursor: pointer;
			vertical-align: top;
			@include transition(all $transition_delay_default ceaser($easeInOutSine));

		    &::before {
			    position: absolute;
			    top: 0;
			    left: 0;
			    content: "";
			    display: inline-block;
				background: $input-default-color;
			    border-radius: 5px;
			    height: 20px;
			    width: 20px;
			}

			@include media(">=ipad") {
				font-size: 18px;

				&::before {
					height: 22px;
					width: 22px;
				}
			}
		}
	}
	

	&[type="checkbox"] {
		+ label {
			&::after {
				position: absolute;
				top: 5px;
				left: 6px;
				opacity: 0;
				content: "";
				border-color: $brand-white;
				border-style: solid;
				border-width: .12rem .12rem 0 0;
				height: 6px;
				width: 10px;
				transform: rotate(125deg);
				@include transition(all $transition_delay_default ceaser($easeInOutSine));

				@include media(">=ipad") {
					top: 6px;
					left: 6px;
				}
			}
		}
	}

	// Type checkbox - status checked
	&[type="checkbox"]:checked {
		+ label {
			color: $input-selected-color;
			&::before {
				background-color: $input-selected-color;
			}

			&::after {
				opacity: 1;
			}
		}
	}

	// Type radibox
	&[type="radio"] + label {
		&::before {
			background: $brand-white;
			border: 4px solid $input-default-color;
			border-radius: 50%;
		}

		&::after {
			position: absolute;
			top: 6px;
			left: 6px;
			opacity: 0;
			content: "";
			border: 4px solid $input-selected-color;
			border-radius: 50%;
			@include transition(all $transition_delay_default ceaser($easeInOutSine));

			@include media(">=ipad") {
				top: 7px;
				left: 7px;
			}
		}
	}	

	// Type radibox - status checked
	&[type="radio"]:checked {
		+ label {
			color: $input-selected-color;
			&::before {
				border: 4px solid $input-selected-color;
			}

			&::after {
				opacity: 1;
			}
		}
	}
}