/**
 * Grayscale filter
 */

$filter-path: '../images/grayscale-filters.svg#grayscale';
.grayscale-filter-media {
	position: relative;
	z-index: $zindex-normal;
	filter: url(#{$filter-path}); /* Firefox 3.5+ */
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(1); /* Webkit Nightlies, Google Chrome Canary and Microsoft Edge*/
	@include transition(all $transition_delay_default ceaser($easeInOutSine));
}
.grayscale-filter-media:hover {
	filter: none; /* Applies to FF + IE */
	-webkit-filter: grayscale(0);
}