/*
** @block gap reusable module
*/

/* Extract make-box-gaps mixin */
$block_gap_list_lg: (
	(
		eq
		pxToRem(100, 18)
	)

	(
		sm
		pxToRem(75, 18)
	)

	(
		md
		pxToRem(85, 18)
	)
);

$block_gap_list_md: (
	(
		eq
		pxToRem(70, 16)
	)

	(
		sm
		pxToRem(60, 16)
	)

	(
		md
		pxToRem(70, 18)
	)
);

$block_gap_list_sm: (
	(
		eq
		pxToRem(50, 14)
	)

	(
		sm
		pxToRem(45, 14)
	)

	(
		md
		pxToRem(50, 14)
	)
);

$block_gap_list_xs: (
	(
		eq
		pxToRem(40, 14)
	)

	(
		sm
		pxToRem(40, 14)
	)

	(
		md
		pxToRem(40, 14)
	)
);

@include make-block-gaps($block_gap_list_xs);

@include media(">sm") {
	@include make-block-gaps($block_gap_list_sm);
}

@include media(">=ipad") {
	@include make-block-gaps($block_gap_list_md);
}

@include media(">=ls") {
	@include make-block-gaps($block_gap_list_lg);
}

// == Fix large gap between two section with similar background

.bg-faded + .bg-faded,
.bg-white + .bg-white {
	padding-top: 0 !important;
}