/**
 * Shapes styles
 */

/*================ Shapes styles ================*/

.shape-circle {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: $brand-white;
	border-radius: 50%;
	box-shadow: 4px 9px 10px 0px rgba(0, 0, 0, 0.05);
	color: $brand-dark;
	height: pxToRem(50, 14);
	width: pxToRem(50, 14);
	text-align: center;
	vertical-align: middle;
	@include transition(all $transition_delay_default ceaser($easeInOutSine));

	&:hover,
	&:focus {
		box-shadow: 4px 9px 10px 0px rgba(0, 0, 0, 0.17);
	}

	@include media(">sm") {
		height: pxToRem(65, 18);
		width: pxToRem(65, 18);
	}

	// == Modifiers
	&--sm {
		@include media(">sm") {
			height: pxToRem(55, 18);
			width: pxToRem(55, 18);
		}
	}

	// Icons
	.icon {
		display: block;
		font-size: pxToRem(24, 18);
	}
}