@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?8pnjau');
  src:  url('fonts/icomoon.eot?8pnjau#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8pnjau') format('truetype'),
    url('fonts/icomoon.woff?8pnjau') format('woff'),
    url('fonts/icomoon.svg?8pnjau#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-messenger .path1:before {
  content: "\e90d";
  color: rgb(30, 136, 229);
}
.icon-messenger .path2:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(250, 250, 250);
}
.icon-calendar:before {
  content: "\e900";
}
.icon-docs:before {
  content: "\e901";
}
.icon-down-chev:before {
  content: "\e902";
}
.icon-envelope:before {
  content: "\e903";
}
.icon-instagram:before {
  content: "\e904";
}
.icon-left-chev:before {
  content: "\e905";
}
.icon-linkedin:before {
  content: "\e906";
}
.icon-play:before {
  content: "\e907";
}
.icon-play-outline:before {
  content: "\e908";
}
.icon-plus:before {
  content: "\e909";
}
.icon-right-chev:before {
  content: "\e90a";
}
.icon-twitter:before {
  content: "\e90b";
}
.icon-up-chev:before {
  content: "\e90c";
}
