/**
 * Cms page map module
 */

/* =============== Google map module =============== */

// == Map card styles
.map-card__node-holder {
    position: relative;
    overflow: hidden;
    height: 35vh;
    //padding-bottom: percentage(975 / 1920);

    @include media(">=ipad") {
        height: 650px;
    }

    @include media(">=ds") {
        height: 920px;
    }
}

.map-card__node {
    @include make-full-position(absolute);
}

// == Hide un-necessary map items
.gmnoprint,
.gm-style-cc,
.gm-tilt,
img[src="https://maps.gstatic.com/mapfiles/api-3/images/google4.png"],
img[src="https://maps.gstatic.com/mapfiles/api-3/images/google_white5.png"] {
    display: none !important;
}

.gm-bundled-control > .gmnoprint,
.gm-bundled-control.gmnoprint,
.gm-style-pbc + div .gmnoprint {
    display: block !important;
}